.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.box-1-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 30px;
  padding: 25px;
}
#box-1-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 34, 230);
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 20px 10px -10px rgba(134, 124, 114, 0.9);
  filter: blur(.5px);
}

 .header-1{
  font-size: 2rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0px 7px 10px rgba(134, 124, 114, 0.9);

}

#box-1-top p{
  font-size: 1.5rem;
  font-family: fantasy;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
}

#box-1-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 72, 221);
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 25px 30px -8px rgba(134, 124, 114, 0.9);
}

#button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px 1px rgb(108, 28, 205);
}

.OnOff{
  position: relative;
  height: 35px;
  width: 18%;
  color: #fff;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 1px;
  border-radius: 20px;
  background-color: rgb(21, 153, 62);
  cursor: pointer;
  box-shadow: 0px 2px 3px 1px rgb(108, 28, 205);
  transition: background-color ease-in-out 500ms;
}
.OnOff.toRed{
  background-color: rgb(156, 30, 45);
}
#circle-button{
  position: absolute;
  height: 34px;
  width: 40px;
  background-color: rgb(190, 160, 226);
  border-radius: 20px;
  right: 3px;
  top: 1px;
  transition: all ease-in-out 300ms;
  pointer-events: all;
  box-shadow: 0px 1px 2px 1px rgb(6, 4, 3) inset;
}

.clicked{
  transform: translate(-35px);
}

/* The extended div */
.extended{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 2px;
  font-family: cursive;
  color: #fff;
  letter-spacing: 2px;
  background-color: rgb(167, 116, 230);
  width: 100%;
  height: 0;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 1px rgb(6, 4, 3) inset;
  transition: all 700ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
}
.triggered{
  height: 150px;
  margin-top: 20px;
  font-size: 2rem;
}


/* Pulse Effect */
#pulse-container{
  position: relative;
  display: flex;
  justify-content:space-between;
  width: 80%;
  height:200px;
  margin: auto;
}
.pulse-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
}

.pulse{
  width: 120px;
  height: 120px;
  background-color: rgb(219, 125, 37);
  border-radius: 40%;
  animation: scaling 2s ease-in-out 0s infinite normal forwards;
}

@keyframes scaling {
  0%{
    transform: scale(1);
    background-color: rgb(219, 125, 37);
  }
  50%{
    background-color: rgba(219, 125, 37, 0.3);
  }

  100%{
    transform: scale(2);
    background-color: rgba(204, 129, 58, 0.1);
  }
}

.fixed-circle{
  position: absolute;
  text-align: center;
  line-height: 130px;
  color: #fff;
  font-size: 20px;
  font-family: verdana;
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(56, 56, 52);
  letter-spacing: 1px;
  width: 130px;
  height: 130px;
  background-color: rgb(219, 125, 37);
  border-radius: 40%;
  filter: blur(.5px);
  animation: shadowing 2s linear 0s infinite normal forwards;
}

@keyframes shadowing {
  0%{
    box-shadow:2px 6px 15px -1px rgba(93, 93, 92, 0.7),
    2px -3px 10px 2px rgba(255, 255, 249, 0.3) inset,
    2px 4px 15px 2px rgba(255, 255, 249, 0.5) inset;
  }

  90%{
    box-shadow: 0 0 0 0,2px -3px 10px 2px rgba(255, 255, 249, 0.3) inset,
    2px 4px 15px 2px rgba(255, 255, 249, 0.5) inset;
  }

  100%{
    box-shadow:2px 6px 15px -1px rgba(93, 93, 92, 0.7),
    2px -3px 10px 2px rgba(255, 255, 249, 0.3) inset,
    2px 4px 15px 2px rgba(255, 255, 249, 0.5) inset;
  }
}
