body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: #ccc;
  font-weight: 300;
  font-size: 30px; }

hr {
  width: 80%;
  margin: auto; }

p {
  font-size: 18px;
  color: #7c1d35;
  margin: 20px 40px; }

section.content article {
  padding: 30px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

header.bird-box {
  position: relative;
  height: 600px;
  background-image: url(/images/bird-bg.jpg);
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; }
  header.bird-box .logo {
    height: 100px;
    width: 100%;
    background-image: url(/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px; }
  header.bird-box .fore-bird {
    width: 960px;
    height: 733px;
    background-image: url(/images/fore-bird.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    right: 5%;
    top: 380px; }
  header.bird-box .back-bird {
    width: 960px;
    height: 298px;
    background-image: url(/images/back-bird.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px; }

.clothes-pics {
  width: 100%;
  height: 120vh;
  max-height: 900px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em; }
  .clothes-pics figure {
    margin: 0;
    position: relative;
    opacity: 0;
    min-width: 200px;
    min-height: 250px;
    transform: translateX(-100px);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    cursor: pointer; }
    .clothes-pics figure img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 500ms ease-in-out;
      transform: scale(1);
      transform-origin: top center; }
    .clothes-pics figure.is-showing {
      opacity: 1;
      transform: translateX(0); }
    .clothes-pics figure:hover figcaption {
      left: 0; }
    .clothes-pics figure:hover img {
      transform: scale(1.1); }
    .clothes-pics figure figcaption {
      position: absolute;
      bottom: 0;
      left: -100%;
      padding: 3px 8px;
      background: black;
      color: white;
      font-size: 13px;
      transition: all 300ms ease-in-out; }
  .clothes-pics figure:nth-child(1) {
    grid-column: 2; }
  .clothes-pics figure:nth-child(2) {
    grid-column: 3; }
  .clothes-pics figure:nth-child(3) {
    grid-column: 4; }
  .clothes-pics figure:nth-child(4) {
    grid-column: 2; }
  .clothes-pics figure:nth-child(5) {
    grid-column: 3; }
  .clothes-pics figure:nth-child(6) {
    grid-column: 4; }
  .clothes-pics figure:nth-child(7) {
    grid-column: 2; }
  .clothes-pics figure:nth-child(8) {
    grid-column: 3; }
  .clothes-pics figure:nth-child(9) {
    grid-column: 4; }

.lg-window {
  margin: 40px auto;
  height: 600px;
  width: 600px;
  background-image: url(/images/model2.jpg);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cdcdcd;
  border-radius: 50%;
  position: relative; }
  .lg-window .window-tint {
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .lg-window .window-tint div {
      color: white;
      font-size: 2.5em;
      font-weight: 100; }
    .lg-window .window-tint p {
      display: block;
      font-weight: 300;
      font-style: italic;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
      margin-right: -20px;
      margin-top: -10px; }
      .lg-window .window-tint p strong {
        font-size: 30px;
        color: white; }
    .lg-window .window-tint a {
      font-size: 25px;
      font-weight: 100;
      color: white;
      text-decoration: none;
      padding: 10px;
      border: 1px solid white;
      transition: all 300ms ease-in-out;
      cursor: pointer; }
      .lg-window .window-tint a:hover {
        background: white;
        color: black;
        border: 1px solid black; }

.leather-jackets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em; }
  .leather-jackets .jacket {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .leather-jackets .jacket p {
      color: #8b8b8b; }
      .leather-jackets .jacket p .read-more-target {
        opacity: 0;
        font-size: 0;
        max-height: 0;
        transition: all 300ms ease-in-out; }
    .leather-jackets .jacket .read-more-state {
      display: none; }
      .leather-jackets .jacket .read-more-state:checked ~ p .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 100em; }
    .leather-jackets .jacket h3 {
      color: #757575;
      margin-top: 5px; }
    .leather-jackets .jacket label {
      padding: 10px 20px;
      border: 1px solid black;
      background-color: #c9c9c9;
      margin-bottom: 5px;
      cursor: pointer;
      transition: all 200ms ease-in-out; }
      .leather-jackets .jacket label:hover {
        color: white;
        background-color: black; }
  .leather-jackets #jacket-1 {
    grid-column: 2; }
  .leather-jackets #jacket-2 {
    grid-column: 3; }
  .leather-jackets #jacket-3 {
    grid-column: 4; }

/*# sourceMappingURL=styles.css.map */
