$myfont: 'Marko One', sans-serif
$myColor: #94618e
$myDarkCol: #49274a
$bgColor: #f8eee7
html
  background: $bgColor
body
  margin: auto
  max-width: 1700px
  background: $bgColor
  padding: 0

header
  box-sizing: border-box
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  position: relative
  width: 100%
  overflow: hidden
  top: 0
  left: 0
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,.9)

// Nav bar
.nav-section
  position: absolute
  width: 100%
  z-index: 100
  transform-origin: top
  transition: all 500ms ease-in-out
  // initial scrolling down:
  &.fixed-nav
    .navbar-nav
      height: 55px
      position: fixed
      top: -5px
  // scrolling further than header
  &.styled-nav
    .navbar-nav
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px
      background: linear-gradient(to right, rgba($myColor, 0.2), rgba($myColor, 0.7), rgba($myColor, 0.7), rgba($myColor, 0.2))
      &:hover
        top: 5px
        border-radius: 10px
        background: rgba(#94618e, 0.7)
        box-shadow: 0px 5px 5px -2px rgba(0,0,0,.5)

.navbar
  height: 60px
  padding-top: 10px
  padding-bottom: 0
  background: transparent
  color: white
  transform-origin: top
  button
    border: 3px solid $myDarkCol !important
    cursor: pointer
  .navbar-brand
    img
      max-height: 65px
      margin-left: 50px
  .collapse
    margin-right: 100px
    justify-content: flex-end
    .navbar-nav
      padding: 10px
      padding-left: 40px
      padding-right: 40px
      font-size: 1em
      font-family: $myfont
      transition: all 300ms ease-in-out
      transform: translate(25%)
      a
        color: white
        text-shadow: 0px 4px 2px rgba(96, 96, 96, .6)
        transition: all 300ms ease-in-out
        transform-origin: bottom left
        &:hover
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg)
          color: white
          text-shadow: 0px 6px 2px rgba(96, 96, 96, .6)
        &:visited
          color: white
        &:focus
          color: white
        &.active
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg)
          color: white

@media only screen and (max-width: 991px)
  header
    overflow: visible
  .navbar
    position: relative
    height: 55px
    padding: 5px
    button
      margin-top: 5px
    .navbar-brand
      img
        max-height: 55px
        margin-left: 0px
        margin-top: -10px
    .collapse, .navbar-collapse
      position: relative
      margin-right: 0px
      justify-content: center
      .navbar-nav
        transform: translate(0)
        position: absolute
        height: auto
        width: 25%
        min-width: 250px
        padding: 20px
        right: 0px
        top: 0px
        border-radius: 20px
        border: 2px solid white
        background: rgba($myColor, .5)
        z-index: 100
        a
          text-align: center
          transform-origin: top
          &:hover, &.active
            transform: scale(1.03)
            padding-right: 10px
            background: $myDarkCol
            border-radius: 5px



.header-img
  width: 100%
  height: 100%
  overflow: hidden
  img
    width: 100%
    height: 100%

// Greeting Message:
#greeting-sec
  margin: 0
  margin-top: 50px
  width: 100%
  height: 35vh
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  font-size: 2em
  font-family: $myfont
  color: $myDarkCol
  letter-spacing: 1.5px
  font-weight: 800
  z-index: 1
  background: linear-gradient(transparent, transparent, rgba($myDarkCol, 0.2))
  span
    height: 100px

// scroll down arrow animation:
.arrow-wrapper
  position: absolute
  bottom: 30px
  height: 100px
  width: 90px
  background: transparent
  left: 50%
  transform: translate(-50%)
  border-radius: 50%
  z-index: 50
  .arrow-down
    height: 100%
    width: 100%
    margin: auto
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    i
      color: $myDarkCol
      font-size: 5em
      animation: scroll-down 2s ease-in-out infinite normal
@keyframes scroll-down
  0%, 100%
    opacity: .7
    transform: translateY(0)
  50%
    opacity: 1
    transform: translateY(120%)
  51%
    opacity: 0
  55%
    opacity: 0
    transform: translateY(-110%)

// parallax backgorund effect
.parallax-bg
  height: 400px
  position: relative
  box-shadow: 0px -3px 15px -3px rgba(0,0,0,.9),0px 5px 15px -3px rgba(0,0,0,.9)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $myDarkCol
  overflow: hidden
  .parallax-img
    position: absolute
    height: 400px
    width: 100%
    background-image: url(images/about-imgs/ahmad-bg.jpg)
    background-position: top center
    background-repeat: repeat
    background-attachment: fixed
    background-size: contain
    background-color: rgba(0,0,0,.8)
    background-blend-mode: multiply
    filter: blur(2px)
  h3, h4
    color: white
    z-index: 5
    font-family: $myfont
    letter-spacing: 2px
    font-size: 3em
  .arrow-wrapper
    i
      color: white


// greeting sec, parallax-bg responsive:
// @media only screen and (max-width: 320px)
//   header
//     min-height: 180px
//     border-bottom-right-radius: 5px
//     border-bottom-left-radius: 5px
//     box-shadow: 0px 3px 10px -3px rgba(0,0,0,.5)
//     .header-img img
//       min-width: 320px
//       min-height: 180px

@media only screen and (max-width: 560px)
  header
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    box-shadow: 0px 3px 10px -3px rgba(0,0,0,.5)
    .header-img img
      min-width: 320px
      min-height: 180px
  #greeting-sec
    height: 15vh
    min-height: 100px
    font-size: .9em
    letter-spacing: 1px
  .parallax-bg
    height: 150px
    .parallax-img
      display: none
    h3, h4
      text-align: center
      font-size: .9em
      letter-spacing: .5px
    .arrow-wrapper
      display: none

@media only screen and (min-width: 560px) and (max-width: 740px)
  #greeting-sec
    height: 20vh
    min-height: 150px
    font-size: 1.3em
  .parallax-bg
    height: 220px
    .parallax-img
      display: none
    h3, h4
      font-size: 1.5em
      letter-spacing: 1px
    .arrow-wrapper
      bottom: 15px
      height: 70px
      width: 70px
      .arrow-down
        i
          font-size: 3em

@media only screen and (min-width: 740px) and (max-width: 920px)
  #greeting-sec
    height: 25vh
    min-height: 150px
    font-size: 1.5em
  .parallax-bg
    height: 270px
    .parallax-img
      height: 270px
    h3, h4
      font-size: 1.7em
      letter-spacing: 1px
    .arrow-wrapper
      bottom: 15px
      height: 70px
      width: 70px
      .arrow-down
        i
          font-size: 3em

@media only screen and (min-width: 920px) and (max-width: 1290px)
  #greeting-sec
    height: 30vh
    min-height: 200px
    font-size: 1.7em
  .parallax-bg
    height: 320px
    .parallax-img
      height: 320px
    h3, h4
      font-size: 2em
      letter-spacing: 1px


// Projects section
#portfolio
  // height: 900px
  width: 100%
  margin: 60px 0
  .project-sign
    position: relative
    img
      height: 220px
      transform: scaleX(1.2)
      transform-origin: left
.projects-wrapper
  position: relative
  width: 90%
  max-width: 1200px
  height: 100%
  margin: auto

.projects
  width: 100%
  list-style: none
  padding: 0
  margin: auto
  margin-top: 50px
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap

  li
    position: relative
    margin: 1em
    height: 280px
    width: 320px
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.5)
    border-radius: 5px
    overflow: hidden
    a
      position: relative
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: flex-end
      overflow: hidden
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: all 1s ease-in-out
        transform-origin: top
      p
        border: 2px solid white
        text-align: center
        color: white
        font-family: $myfont
        font-size: 1.5em
        padding: 10px
        z-index: 20
      &:hover
        text-decoration: none
        img
          transform: scale(1.2)

// projects section responsive:
@media only screen and (max-width: 319px)
  #portfolio
    margin: 20px 0
    .project-sign
      img
        height: 80px
        transform: scaleX(.5)
    .projects-wrapper
      width: 100%
      .projects
        margin-top: 8px
        li
          height: 85px
          width: 95px
          margin: .5em
          p
            font-size: .6em
@media only screen and (min-width: 320px) and (max-width: 559px)
  #portfolio
    margin: 30px 0
    .project-sign
      img
        height: 100px
        transform: scaleX(.6)
    .projects-wrapper
      width: 95%
      .projects
        margin-top: 10px
        li
          width: 40%
          max-width: 150px
          margin: .8em
          max-height: 120px
          p
            font-size: .8em

@media only screen and (min-width: 560px) and (max-width: 739px)
  #portfolio
    margin: 30px 0
    .project-sign
      img
        height: 120px
        transform: scaleX(.7)
    .projects-wrapper
      width: 95%
      .projects
        margin-top: 20px
        li
          height: 145px
          width: 150px
          margin: .8em
          p
            font-size: .7em

@media only screen and (min-width: 740px) and (max-width: 919px)
  #portfolio
    margin: 40px 0
    .project-sign
      img
        height: 150px
        transform: scaleX(.9)
    .projects-wrapper
      width: 95%
      .projects
        margin-top: 30px
        li
          height: 170px
          width: 190px
          p
            font-size: 1.1em

@media only screen and (min-width: 920px) and (max-width: 1290px)
  #portfolio
    margin: 70px 0
    .project-sign
      img
        height: 180px
        transform: scaleX(1)
    .projects
      max-width: 1080px
      margin-top: 40px
      li
        height: 210px
        width: 240px
        p
          font-size: 1.3em


// About section:
.side-tag
  position: absolute
  top: 0
  left: -20px
  padding: 5px
  background: $myColor
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  box-shadow: 5px 8px 10px -2px rgb(182, 182, 182)
  h2
    margin: 0
    background: $myColor
    padding: 15px 80px
    vertical-align: middle
    border: 2px dashed white
    color: white
    font-family: $myfont
    letter-spacing: 2px
    font-size: 1.7em
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px

.about-container
  width: 100%
  position: relative
  display: flex
  flex-direction: column
  justify-content: center

.about-sign
  img
    height: 200px
    width: 300px
    // transform-origin: left bottom
    // perspective: 1000px
    // transform: rotateY(-89deg)
    // transition: all 500ms ease-in-out

.brief
  width: 70%
  margin: 40px auto 50px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h3
    color: $myColor
    font-size: 2em
    padding-bottom: 30px
    font-family: $myfont
  p
    color: $myDarkCol
    font-family: $myfont
    font-size: 1em
    text-indent: 20px
    text-align: center
  p:last-child
    font-size: 1.2em
    a
      color: $myColor
      border: 2px solid $myColor
      padding: 5px 10px
      text-decoration: none
      border-radius: 2px
      transition: all 200ms ease-in-out
      &:hover
        color: $bgColor
        background: $myColor
.about
  width: 90%
  max-width: 1200px
  margin: auto
.education
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 50px
  #edu-intro
    margin-top: 6%
    display: flex
    justify-content: center
    align-items: center
    p
      display: none
      margin-top: 20px
      width: 80%
      font-family: $myfont
      color: $myDarkCol
      font-size: 1.3em
      text-align: center

.edu-content
  margin-top: 40px
  overflow: hidden
  ul
    position: relative
    list-style: none
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(7, 70px)
    grid-gap: 1em
    font-family: $myfont
    z-index: 10
    li
      grid-column: span 2
      grid-row: span 2
      position: relative
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      padding: 30px
      background: $bgColor
      margin: 4px
      box-shadow: 0px 0px 2px 2px rgb(180, 180, 180)inset
      transition: all 500ms ease-in-out
      left: -100%
      opacity: 0
      &.is-showing
        opacity: 1
        left: 0
      h5
        margin-top: 20px
        text-align: center
        line-height: 1.5em
        color: $myColor
        font-size: 1.4em
      p
        text-align: center
        position: relative
        font-size: 1em
        padding-bottom: 10px
        &::after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          border-radius: 1px
          width: 20%
          padding: 2px
          background: $myColor
          opacity: 0
          transition: all 500ms linear
      &:hover
        p::after
          animation: slide-underline 1.3s ease-in-out 200ms infinite normal

      // Right Shadow under li
      &::before
        content: ''
        position: absolute
        right: -4px
        bottom: 6px
        width: 50%
        height: 50px
        background: transparent
        box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, .3)
        transform: rotate(4deg)
        z-index: -1
        border: transparent
      // Left Shadow under li
      &::after
        content: ''
        position: absolute
        left: 2px
        bottom: 6px
        width: 45%
        height: 50px
        background: transparent
        box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, .3)
        transform: rotate(-4deg)
        z-index: -1
        border: transparent
    li:nth-child(7)
      grid-column: 1/4
      grid-row: 5/ 8
      margin-right: 15%
    li:nth-child(8)
      grid-column: 4/7
      grid-row: 5/8
      margin-left: 15%


// education items underline animation:
@keyframes slide-underline
  0%, 19%
    opacity: 0
    transform: translateX(0)
  20%, 80%
    opacity: .5
  81%, 100%
    opacity: 0
    transform: translateX(400%)

// About sign, about brief, education sec responsive:
@media only screen and (max-width: 559px)
  .arrow-wrapper
    display: none
  .about-sign
    img
      height: 100px
      width: 130px
  .brief
    width: 90%
    margin-top: 15px
    margin-bottom: 20px
    h3
      font-size: 1.1em
      padding-bottom: 1px
    p
      font-size: .7em
    p:last-child
      font-size: .8em
      a
        border: 1px solid $myColor
        padding: 1px 5px
  .side-tag
    h2
      padding: 8px 30px
      font-size: .8em
  .education
    margin-bottom: 20px
    #edu-intro
      p
        padding-top: 15px
        font-size: .7em
    .edu-content
      margin-top: 10px
      ul
        padding-left: 0px
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(5, 80px)
        grid-gap: .5em
        li
          grid-column: span 1
          grid-row: span 1
          padding: 10px
          h5
            padding-top: 10px
            font-size: .7em
          p
            font-size: .5em
            padding-bottom: 10px
        li:nth-child(7)
          grid-column: 1/ span 1
          grid-row: 4/ span 2
          margin-right: 4px
          margin-bottom: 20%
        li:nth-child(8)
          grid-column: 2/ span 1
          grid-row: 4/ span 2
          margin-bottom: 20%
          margin-left: 4px

@media only screen and (min-width: 560px) and (max-width: 739px)
  .arrow-wrapper
    bottom: 15px
    height: 70px
    width: 70px
    .arrow-down
      i
        font-size: 3em
  .about-sign
    img
      height: 120px
      width: 160px
  .brief
    width: 88%
    margin-top: 20px
    margin-bottom: 30px
    h3
      font-size: 1.3em
      padding-bottom: 5px
    p
      font-size: .7em
    p:last-child
      font-size: .8em
      line-height: 2em
      a
        border: 1px solid $myColor
        padding: 2px 5px
  .side-tag
    h2
      padding: 10px 35px
      font-size: 1em
  .education
    margin-bottom: 25px
    #edu-intro
      p
        padding-top: 20px
        font-size: .9em
    .edu-content
      margin-top: 15px
      ul
        padding-left: 15px
        grid-template-rows: repeat(7, 35px)
        grid-gap: .5em
        li
          padding: 10px
          h5
            font-size: .8em
          p
            margin-bottom: 5px
            font-size: .6em

@media only screen and (min-width: 740px) and (max-width: 919px)
  .arrow-wrapper
    .arrow-down
      i
        font-size: 3em
  .about-sign
    img
      height: 150px
      width: 220px
  .brief
    width: 85%
    margin-top: 25px
    margin-bottom: 35px
    h3
      font-size: 1.5em
      padding-bottom: 10px
    p
      font-size: .8em
    p:last-child
      font-size: .9em
  .side-tag
    h2
      padding: 10px 40px
      font-size: 1.2em
  .education
    margin-bottom: 30px
    #edu-intro
      p
        padding-top: 20px
        font-size: 1em
  .edu-content
    margin-top: 20px
    ul
      padding: 5px
      grid-template-rows: repeat(7, 45px)
      li
        padding: 25px
        h5
          font-size: 1em
        p
          font-size: .7em

@media only screen and (min-width: 920px) and (max-width: 1290px)
  .arrow-wrapper
    .arrow-down
      i
        font-size: 4em
  .about-sign
    img
      height: 170px
      width: 250px
  .brief
    width: 80%
    margin-top: 30px
    margin-bottom: 40px
    p
      font-size: .9em
    p:last-child
      font-size: 1em
  .side-tag
    h2
      padding: 12px 50px
      font-size: 1.4em
  .education
    margin-bottom: 40px
    #edu-intro
      p
        padding-top: 20px
        font-size: 1.1em
  .edu-content
    margin-top: 35px
    ul
      padding: 0
      grid-template-rows: repeat(7, 50px)
      li
        padding: 25px
        h5
          font-size: 1.2em
        p
          font-size: .9em


.skills
  position: relative
  height: 1000px
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-sizing: border-box
#skills-intro
  padding-top: 170px
  height: 20%
  width: 60%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  p
    color: $myDarkCol
    display: none
    font-size: 1.2em
    font-family: $myfont
    text-align: center
#big-circle
  position: absolute
  height: 450px
  width: 450px
  border-radius: 100%
  top: 400px
  left: 50%
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .2)
  transform: translateX(-50%)
#inner-circle
  width: 100%
  height: 100%
  border-radius: 100%
  padding-top: 50px
  padding-bottom: 50px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  text-align: center
  background: $myColor
  color: white
  font-family: $myfont
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, .5)
  border: 3px solid #49274a
  transform-origin: top
  opacity: 0
  h3
    font-size: 2em
    transform: scaleY(1.3)
    max-width: 60%
    text-align: center
    transition: all 300ms ease-in-out
  hr
    width: 50%
    background: white
    height: 1px
  #circle-content
    padding: 3% 5%
  &.show-cir
    animation: slide-down 3s ease-in-out 500ms forwards normal

  #circle-logo
    max-height: 80px
    max-width: 130px
    opacity: .5

.skills-wrapper
  box-sizing: border-box
  padding: 30px
  list-style: none
  width: 100%
  max-width: 1150px
  height: 80%
  position: relative
  display: grid
  grid-template-columns: repeat(15, 1fr)
  grid-template-rows: repeat(13, 1fr)
  li
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 5
.skill-content
  border-radius: 100%
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, .5)
  font-family: $myfont
  letter-spacing: 2px
  font-weight: 800
  background: #49274a
  color: white
  cursor: pointer
  transition: all 400ms ease-in-out
  &.bubble-l
    animation: bubble-l 6s ease-in-out infinite normal
  &.bubble-r
    animation: bubble-r 8s ease-in-out infinite normal
  &.clicked-skill
    background: $myColor
    border: 6px solid $myDarkCol
  &:hover
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, .7)
    opacity: .97

  h3
    font-size: 1.4em
    text-align: center
    transform: rotate(-5deg)
  .medium-h3
    font-size: 1em
  .small-h3
    font-size: .8em
  .about-skill
    display: none

  .skill-logo
    display: none

// skills animations:
@keyframes bubble-l
  0%,100%
    transform: translate(0) translateY(0) rotate(0)
  50%
    transform: translate(-10px) translateY(10px) rotate(10deg) rotateX(30deg)
@keyframes bubble-r
  0%,100%
    transform: translate(0) translateY(0) rotate(0)
  50%
    transform: translate(10px) translateY(-10px) rotate(-10deg) rotateX(-30deg)

// big-circle > inner-circle slide down animation:
@keyframes slide-down
  0%
    opacity: .2
    transform: scale(.9) translateY(-50%)
  20%
    opacity: 1
    transform: scaleX(1.04) scaleY(.97) translateY(8%)
  50%
    opacity: 1
    transform: scale(1) translateY(-10%)
  70%
    opacity: 1
    transform: scaleX(1.03) scaleY(.98) translateY(4%)
  90%
    opacity: 1
    transform: scale(1) translateY(-3%)
  100%
    opacity: 1
    transform: scale(1) translateY(0)


// skills circles:
#html
  grid-column: 4/7
  grid-row: 1/5
#css
  grid-column: 10/13
  grid-row: 1/5
#js
  grid-column: 2/5
  grid-row: 5/9
  .skill-content
    width: 85%
    height: 90%
#jquery
  grid-column: 1/4
  grid-row: 8/11
  .skill-content
    width: 80%
#sass
  grid-column: 11/14
  grid-row: 4/7
  .skill-content
    width: 85%
#responsive
  grid-column: 1/4
  grid-row: 2/5
  transform: rotate(-30deg)
  .skill-content
    width: 90%
#bootstrap
  grid-column: 14/16
  grid-row: 10/12
  .skill-content
    width: 85%
#wordpress
  grid-column: 13/16
  grid-row: 2/5
  transform: rotate(30deg)
  .skill-content
    height: 80%
    width: 80%
#git
  grid-column: 8/10
  grid-row: 2/4
  .skill-content
    height: 80%
    width: 80%
    margin-left: -30%
    margin-top: -30px
#php
  grid-column: 12/14
  grid-row: 9/11
  .skill-content
    height: 70%
    width: 70%
#photoshop
  grid-column: 13/15
  grid-row: 7/9
#angular
  font-size: .7em
  grid-column: 2/3
  grid-row: 11/12
  transform: translateY(30px)
#ux
  grid-column: 3/5
  grid-row: 10/12
  transform: translateX(20px)
  .skill-content
    width: 75%
#seo
  grid-column: 12/13
  grid-row: 11/12


@media only screen and (max-width: 559px)
  .skills
    height: 560px
  #skills-intro
    padding-top: 90px
    width: 95%
    p
      font-size: .7em
      font-weight: 100
      margin-bottom: 0
  #big-circle
    height: 200px
    width: 350px
    top: 290px
  #inner-circle
    padding: 20px 30px
    hr
      display: none
    h3
      font-size: 1em
      transform: scaleY(1)
      max-width: 60%
    #circle-content
      font-size: .65em
      padding: 0
    #circle-logo
      max-height: 30px
      max-width: 40px
  .skills-wrapper
    margin: 4px
    margin-top: 15px
    padding: 0
    min-width: 360px
    max-width: 460px
    grid-template-rows: repeat(15, 1fr)
    overflow: hidden
    #html
      grid-column: 4/8
      grid-row: 1/4
    #css
      grid-column: 8/12
      grid-row: 3/6
    #js
      margin-left: -15px
      grid-column: 3/6
      grid-row: 3/6
      .skill-content
        height: 65%
        width: 85%
    #jquery
      grid-row: 4/7
      grid-column: 1/3
      .skill-content
        height: 70%
        width: 100%
    #sass
      margin-left: 7px
      grid-column: 10/13
      grid-row: 3/5
      .skill-content
        width: 100%
    #responsive
      grid-row: 1/3
      transform: translateY(33%) rotate(-35deg)
      .skill-content
        width: 100%
    #bootstrap
      margin-left: 10px
      grid-column: 6/9
      grid-row: 14/16
      .skill-content
        height: 75%
        width: 100%
    #wordpress
      grid-row: 1/4
      grid-column: 13/16
      .skill-content
        height: 60%
        width: 90%
    #git
      margin: -6px
      grid-column: 9/11
      grid-row: 1/3
      .skill-content
        height: 65%
        margin-top: 10px
    #php
      grid-column: 10/13
      grid-row: 14/16
    #photoshop
      grid-column: 13/16
      grid-row: 5/7
      .skill-content
        height: 70%
        width: 95%
    #angular
      margin: -5px
      grid-row: 12/13
    #ux
      grid-row: 14/16
      .skill-content
        height: 70%
        width: 85%
    #seo
      margin: -5px
      grid-column: 14/15
      grid-row: 13/14

  .skill-content
    letter-spacing: 1px
    font-weight: 200
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, .3)
    h3
      font-size: .6em
      &.medium-h3, &.small-h3
        font-size: .5em
    &.clicked-skill
      border: 1px solid $myDarkCol
    &:hover
      box-shadow: 0px 15px 10px -6px rgba(0, 0, 0, .5)

@media only screen and (max-width: 359px)
  .skills
    height: 500px
    .side-tag
      top: -20px
  #skills-intro p
    font-size: .6em
  #big-circle
    transform: translateX(-50%) scale(.7)
    top: 250px
    height: 180px
  .skills-wrapper
    transform: scale(.7)
    min-width: 330px
    margin-top: 0

@media only screen and (min-width: 560px) and (max-width: 739px)
  .skills
    height: 700px
  #skills-intro
    padding-top: 100px
    width: 85%
    p
      font-size: .7em
  #big-circle
    height: 230px
    width: 300px
    top: 300px
  #inner-circle
    padding-top: 25px
    padding-bottom: 25px
    hr
      display: none
    h3
      font-size: 1em
      transform: scaleY(1)
      max-width: 60%
    #circle-content
      font-size: .65em
    #circle-logo
      max-height: 40px
      max-width: 60px
  .skills-wrapper
    min-width: 560px
    grid-template-rows: repeat(15, 1fr)
    #html
      grid-column: 4/8
      grid-row: 1/4
    #css
      grid-column: 10/14
      grid-row: 1/4
    #js
      grid-row: 3/6
      .skill-content
        height: 85%
    #jquery
      grid-row: 5/8
      .skill-content
        height: 90%
    #sass
      grid-row: 3/5
      .skill-content
        width: 100%
    #responsive
      grid-row: 1/3
      .skill-content
        width: 100%
    #bootstrap
      grid-column: 13/16
      .skill-content
        height: 75%
        width: 90%
    #wordpress
      grid-row: 4/7
      .skill-content
        height: 70%
        width: 85%
    #git
      .skill-content
        height: 70%
        margin-top: 10px
    #php
      grid-column: 1/3
      grid-row: 8/10
    #photoshop
      grid-column: 14/16
      .skill-content
        height: 65%
    #angular
      grid-row: 10/11
    #ux
      grid-row: 11/13
      .skill-content
        height: 75%
  .skill-content
    letter-spacing: 1px
    font-weight: 400
    &.clicked-skill
      border: 2px solid $myDarkCol
    h3
      font-size: .8em
    .medium-h3
      font-size: .6em
    .small-h3
      font-size: .4em

@media only screen and (min-width: 740px) and (max-width: 919px)
  .skills
    height: 800px
  #skills-intro
    padding-top: 110px
    width: 85%
    p
      font-size: .8em
  #big-circle
    height: 320px
    width: 320px
    top: 340px
  #inner-circle
    padding-top: 30px
    padding-bottom: 25px
    h3
      font-size: 1.2em
      transform: scaleY(1.1)
      max-width: 60%
    #circle-content
      font-size: .75em
    #circle-logo
      max-height: 50px
      max-width: 70px
  .skills-wrapper
    min-width: 735px
    grid-template-rows: repeat(15, 1fr)
  .skill-content
    letter-spacing: 1px
    font-weight: 400
    &.clicked-skill
      border: 3px solid $myDarkCol
    h3
      font-size: 1em
    .medium-h3
      font-size: .7em
    .small-h3
      font-size: .5em
  #ux
    transform: translateY(30px)

@media only screen and (min-width: 920px) and (max-width: 1290px)
  .skills
    height: 900px
  #skills-intro
    padding-top: 150px
    width: 80%
    p
      font-size: 1em
  #big-circle
    height: 380px
    width: 380px
    top: 370px
  #inner-circle
    padding-top: 40px
    padding-bottom: 40px
    h3
      font-size: 1.5em
      transform: scaleY(1.2)
      max-width: 60%
    #circle-content
      font-size: .85em
    #circle-logo
      max-height: 70px
      max-width: 110px
  .skills-wrapper
    min-width: 900px
    max-width: 950px
    grid-template-rows: repeat(15, 1fr)
  .skill-content
    letter-spacing: 1px
    font-weight: 600
    &.clicked-skill
      border: 4px solid $myDarkCol
    h3
      font-size: 1.2em
    .medium-h3
      font-size: .8em
    .small-h3
      font-size: .6em
  #ux
    transform: translateY(30px)



.cirtificates
  position: relative
  margin-top: 50px
  width: 100%
  min-height: 700px
  #cirtif-intro
    text-transform: uppercase
    height: 140px
    display: flex
    justify-content: center
    align-items: flex-end
    p
      font-size: 1.3em
      font-family: $myfont
      color: $myDarkCol
      text-align: center
  .cirt-imgs
    width: 100%
    margin: auto
    margin-top: 2em
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    figure
      display: none
      margin: 1em
      position: relative
      width: 30%
      cursor: pointer
      box-shadow: 0 5px 30px -5px rgba(0,0,0,.6)
      border-radius: 10px
      img
        width: 100%
        border-radius: 10px
      figcaption
        position: absolute
        top: 10px
        bottom: 10px
        right: 10px
        left: 10px
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        font-family: $myfont
        color: white
        font-size: 2em
        letter-spacing: 2px
        background: rgba($myColor,.4)
        transform-origin: bottom left
        transform: scale(0)
        transition: all 500ms ease-in-out
        opacity: 0
        border-radius: 10px
      &:hover figcaption
        opacity: 1
        transform: scale(1)

// Popup cirtificate images:
.popup
  position: relative
  z-index: 999
  display: none
  .overlay
    width: 100vw
    height: 100vh
    background: rgba($myColor,.3)
    position: fixed
    top: 0
    left: 0
  .img-show
    width: 700px
    height: 500px
    background: #fff
    position: fixed
    top: 50%
    left: 50%
    border-radius: 10px
    box-shadow: 0 0 20px 10px rgba(0,0,0,.3)
    transform: translate(-50%, -50%)
    overflow: hidden
    span
      position: absolute
      cursor: pointer
      top: 10px
      right: 10px
      z-index: 99
      font-size: 1.3em
      transition: all 200ms ease-in-out
      &:hover
        transform: scale(1.2)
        text-shadow: 0 0 10px rgba(0,0,0,.7)
    img
      width: 100%
      height: 100%
      border-radius: 10px

@media only screen and (max-width: 359px)
  .cirtificates
    min-height: 350px
    margin-top: -10px
    #cirtif-intro
      height: 100px
      p
        font-size: .5em
    .cirt-imgs
      margin-top: .6em
      figure
        width: 40%
        border-radius: 5px
        margin: auto
        margin-bottom: 10px
        img
          border-radius: 5px
        figcaption
          top: 2px
          bottom: 2px
          right: 2px
          left: 2px
          border-radius: 3px
          font-size: .5em
  .popup
    .img-show
      width: 200px
      height: 150px
      span
        top: 2px
        font-size: .6em

@media only screen and (min-width: 359px) and (max-width: 559px)
  .cirtificates
    min-height: 380px
    margin-top: 25px
    #cirtif-intro
      height: 110px
      p
        font-size: .6em
    .cirt-imgs
      margin-top: 1em
      figure
        width: 40%
        border-radius: 5px
        margin: auto
        margin-bottom: 20px
        img
          border-radius: 5px
        figcaption
          top: 4px
          bottom: 4px
          right: 4px
          left: 4px
          border-radius: 5px
          font-size: .8em
  .popup
    .img-show
      width: 250px
      height: 180px
      span
        top: 5px
        font-size: 1em


@media only screen and (min-width: 560px) and (max-width: 739px)
  .cirtificates
    min-height: 380px
    margin-top: 0px
    #cirtif-intro
      height: 110px
      p
        font-size: .8em
    .cirt-imgs
      margin-top: 1em
      figure
        width: 30%
        border-radius: 5px
        margin: auto
        margin-bottom: 1em
        img
          border-radius: 5px
        figcaption
          top: 4px
          bottom: 4px
          right: 4px
          left: 4px
          border-radius: 5px
          font-size: .8em
  .popup
    .img-show
      width: 350px
      height: 250px
      span
        top: 5px
        font-size: 1.1em

@media only screen and (min-width: 740px) and (max-width: 919px)
  .cirtificates
    min-height: 480px
    margin-top: 10px
    #cirtif-intro
      height: 120px
      p
        font-size: 1.1em
    .cirt-imgs
      margin-top: 1em
      figure
        width: 27%
        border-radius: 7px
        img
          border-radius: 7px
        figcaption
          top: 5px
          bottom: 5px
          right: 5px
          left: 5px
          border-radius: 5px
          font-size: 1em
  .popup
    .img-show
      width: 450px
      height: 350px

@media only screen and (min-width: 920px) and (max-width: 1290px)
  .cirtificates
    min-height: 580px
    margin-top: 30px
    .cirt-imgs
      margin-top: 1em
      figure
        width: 27%
        figcaption
          top: 7px
          bottom: 7px
          right: 7px
          left: 7px
          border-radius: 7px
          font-size: 1.1em
  .popup
    .img-show
      width: 530px
      height: 400px


.courses-container
  width: 100%
  margin-top: 100px
  position: relative
  height: 1000px
  display: flex
  flex-direction: column
  justify-content: space-around
#courses-intro
  height: 150px
  display: flex
  justify-content: center
  align-items: flex-end
  p
    text-align: center
    text-transform: uppercase
    font-size: 1.3em
    font-family: $myfont
    color: $myDarkCol
#courses-wrapper
  padding-left: 0
  height: 80%
  width: 100%
  margin: auto
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: repeat(6, 1fr)
  list-style: none
  .course-content
    position: relative
    display: flex
    flex-direction: column
    padding: 2em
    box-shadow: 0 4px 10px rgba(0,0,0,.7)
    border-radius: 20px
    background: $bgColor
    border: 1em solid $myDarkCol
    font-family: $myfont
    h3
      color: $myDarkCol
    ul
      padding-top: 1.3em
    &:nth-child(1)
      padding-right: 70px
      justify-content: flex-start
      grid-column: 1/ span 5
      grid-row: 1/4
      p
        width: 80%
    &:nth-child(2)
      padding-left: 5px
      align-items: flex-end
      justify-content: flex-end
      transform: translate(80px,0px)
      grid-column: 4/ span 4
      grid-row: 3/6
      z-index: 71
      ul
        display: flex
        flex-direction: column
        align-items: flex-end
        list-style: none
        li
          text-align: right
      P
        text-align: right
        a
          color: $myColor
    &:nth-child(3)
      justify-content: center
      transform: translate(0px,-40px)
      grid-column: 2/ span 3
      grid-row: 4/7
      z-index: 72
      ul
        padding-left: 1.1em
    &:nth-child(4)
      transform: translate(0px,-70px)
      align-items: flex-end
      grid-column: 5/ span 3
      grid-row: 2/4
      z-index: 72
      ul
        padding-left: 10px
        display: flex
        flex-direction: column
        align-items: flex-end
        list-style: none
        text-align: right

@media only screen and (max-width: 359px)
  .courses-container
    margin-top: 50px
    height: 750px
    #courses-intro
      height: 100px
      p
        font-size: .5em
    #courses-wrapper
      max-width: 358px
      .course-content
        padding: .5em
        border-radius: 7px
        border: .2em solid $myDarkCol
        h3
          font-size: .6em
        p
          font-size: .5em
        ul
          padding-top: .2em
          font-size: 8px
        &:nth-child(1)
          grid-row: 1/4
          ul, h3
            list-style: none
            padding-left: .6em
            max-width: 80%
        &:nth-child(2)
          justify-content: center
          padding-left: 2px
          grid-column: 2/ span 7
          grid-row: 3/6
          transform: translate(0px,0px)
          margin: 20px
          ul
            padding-left: 20px
        &:nth-child(3)
          grid-column: 1 / span 7
          grid-row: 5/7
          transform: translate(0px, 0px)
          margin-top: 40px
          ul
            list-style: none
            padding-left: 3px
        &:nth-child(4)
          margin: .6em
          margin-top: 0
          grid-column: 4/ span 4
          grid-row: 1/3
          transform: translate(30px,20px)

@media only screen and (min-width: 360px) and (max-width: 559px)
  .courses-container
    margin-top: 50px
    height: 750px
    #courses-intro
      height: 100px
      p
        font-size: .6em
    #courses-wrapper
      max-width: 450px
      .course-content
        padding: .7em
        border-radius: 7px
        border: .2em solid $myDarkCol
        h3
          font-size: .8em
        p
          font-size: .6em
        ul
          padding-top: .3em
          font-size: 10px
        &:nth-child(1)
          grid-row: 1/4
          ul, h3
            padding-left: .8em
            max-width: 80%
        &:nth-child(2)
          justify-content: center
          padding-left: 2px
          grid-column: 2/ span 7
          grid-row: 3/6
          transform: translate(0px,0px)
          margin: 30px
          ul
            padding-left: 20px
        &:nth-child(3)
          grid-column: 1 / span 7
          grid-row: 5/7
          transform: translate(0px, 0px)
          margin-top: 40px
          ul
            list-style: none
            padding-left: 3px
        &:nth-child(4)
          margin: .6em
          margin-top: 0
          grid-column: 4/ span 4
          grid-row: 1/3
          transform: translate(30px,20px)

@media only screen and (min-width: 560px) and (max-width: 739px)
  .courses-container
    margin-top: 50px
    height: 700px
    #courses-intro
      height: 120px
      p
        font-size: .8em
    #courses-wrapper
      max-width: 625px
      .course-content
        padding: 1em
        border-radius: 10px
        border: .4em solid $myDarkCol
        h3
          font-size: 1em
        p
          font-size: .7em
        ul
          padding-top: .5em
          font-size: 10px
        &:nth-child(1)
          ul, h3
            padding-left: 1em
            max-width: 80%
        &:nth-child(2)
          justify-content: center
          grid-row: 2/6
          transform: translate(40px,20px)
          p
            max-width: 80%
        &:nth-child(3)
          grid-column: 1 / span 4
          margin-right: 1em
          transform: translate(30px,-40px)
          ul
            padding-left: 2em
        &:nth-child(4)
          max-width: 250px
          margin: 1em
          grid-column: 4/ span 4
          grid-row: 1/3
          transform: translate(40px,0px)

@media only screen and (min-width: 740px) and (max-width: 919px)
  .courses-container
    margin-top: 50px
    height: 700px
    #courses-intro
      height: 130px
      p
        font-size: 1em
    #courses-wrapper
      max-width: 850px
      .course-content
        padding: 1.1em
        border-radius: 15px
        border: .7em solid $myDarkCol
        h3
          font-size: 1em
        p
          font-size: .7em
        ul
          padding-top: .8em
          font-size: .67em
        &:nth-child(2)
          margin-bottom: -1em
        &:nth-child(3)
          grid-column: 2 / span 4
          margin-right: 2em
          transform: translate(0px,-40px)
          ul
            padding-left: 2.5em
        &:nth-child(4)
          transform: translate(40px,-60px)

@media only screen and (min-width: 920px) and (max-width: 1290px)
  .courses-container
    margin-top: 70px
    height: 750px
    #courses-intro
      p
        font-size: 1.1em
    #courses-wrapper
      max-width: 1000px
      .course-content
        padding: 1.3em
        border: .8em solid $myDarkCol
        h3
          font-size: 1.4em
        p
          font-size: .9em
        ul
          padding-top: 1em
          font-size: .8em
        &:nth-child(3)
          transform: translate(40px,-40px)


// Added Only for scrolling effect:
#contact
  position: absolute
  bottom: 0
  right: 0
  height: 900px

footer
  position: relative
  margin: 0
  margin-top: -250px
  padding: 0
  height: 900px
  width: 100%
  background: transparent
  display: flex
  flex-direction: column
  overflow: hidden
  z-index: 70
.footer-upper-margin
  height: 300px
  width: 100%
  background: transparent
.footer-content
  height: 500px
  display: flex
  flex-direction: row
  box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
.contact
  width: 50%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden
  h3
    font-family: $myfont
    color: $myDarkCol
    text-transform: uppercase
  p
    font-family: $myfont
    color: $myColor
    padding-left: 1em

  form
    color: $myDarkCol
    width: 80%
    label
      font-family: $myfont
      padding-left: 1em
      margin-bottom: 0
      margin-top: 10px
    input, textarea
      height: 3em
      border: none
      background: transparent
      -webkit-box-shadow: 0 0px 2px $myColor
      box-shadow: 0 0px 2px $myColor
      &:focus
        -webkit-box-shadow: 0 0px 5px $myDarkCol inset
        box-shadow: 0 0px 5px $myDarkCol inset
        background: transparent
    textarea
      height: 5em
      max-height: 8em
    button
      background: $myDarkCol
      font-family: $myfont
      border: none
      width: 50%
      transition: all 300ms ease-in-out
      cursor: pointer
      box-shadow: 0 5px 10px rgba(0,0,0,.5)
      &:hover
        background: $myColor
        box-shadow: 0 7px 10px rgba(0,0,0,.6)
      i
        padding-left: 1em

.follow-me
  position: relative
  width: 50%
  height: 100%
  &::before
    content: ''
    position: absolute
    height: 150%
    width: 257%
    background: $myDarkCol
    transform: translateX(-20%) translateY(15%) rotate(-40deg)
    box-shadow: 0px 5px 15px rgba(0,0,0, .8)inset
  ul
    width: 70%
    height: 80%
    margin: auto
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    li
      z-index: 72
      list-style: none
      font-family: $myfont
      font-size: 1em
      transition: all 200ms ease-in-out
      a
        color: white
        text-decoration: none
        i
          font-size: 2em
          padding: 10px
          vertical-align: middle
      &:hover
        transform: scale(1.1)

.copy-right
  position: absolute
  background: $bgColor
  padding-top: 10px
  bottom: 0
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
  color: $myDarkCol
  font-family: $myfont
  font-size: .8em
  opacity: .9
  span
    font-style: italic

@media only screen and (max-width: 359px)
  footer
    box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
    height: 750px
    margin-top: 0px
    .footer-upper-margin
      display: none
    #contact
      height: 750px
    .footer-content
      flex-direction: column
      height: 750px
      .contact
        margin-top: 10px
        width: 100%
        height: 60%
        h3
          font-size: 1em
        p
          width: 90%
          text-align: center
          font-size: .5em
        button
          width: 75%
      .follow-me
        box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
        width: 100%
        height: 40%
        &::before
          display: none
        ul
          padding-left: 0
          flex-direction: column
          align-items: center
          justify-content: flex-start
          width: 90%
          height: 100%
          li
            text-align: center
            font-size: .7em
            a
              color: $myDarkCol
              font-size: 1em

    .copy-right
      flex-direction: column
      font-size: .5em


@media only screen and (min-width: 360px) and (max-width: 559px)
  footer
    box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
    height: 650px
    margin-top: 0px
    .footer-upper-margin
      display: none
    #contact
      height: 650px
    .footer-content
      flex-direction: column
      height: 650px
      .contact
        margin-top: 10px
        width: 100%
        height: 75%
        h3
          font-size: 1em
        p
          width: 90%
          text-align: center
          font-size: .7em
        button
          width: 75%
      .follow-me
        box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
        width: 100%
        height: 25%
        &::before
          display: none
        ul
          padding-left: 0
          flex-direction: row
          align-items: center
          justify-content: center
          width: 90%
          height: 100%
          li
            text-align: center
            font-size: .7em
            a
              color: $myDarkCol
              font-size: 1em

    .copy-right
      font-size: .5em


@media only screen and (min-width: 560px) and (max-width: 739px)
  footer
    box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
    height: 700px
    margin-top: 00px
    .footer-upper-margin
      display: none
    #contact
      height: 700px
    .footer-content
      flex-direction: column
      height: 700px
      .contact
        margin-top: 10px
        width: 100%
        height: 75%
        h3
          font-size: 1.2em
        p
          text-align: center
          font-size: .7em
      .follow-me
        box-shadow: 0px -4px 6px -1px rgba($myDarkCol, .5)
        width: 100%
        height: 25%
        &::before
          display: none
        ul
          padding: 0
          flex-direction: row
          align-items: center
          justify-content: center
          width: 90%
          height: 100%
          li
            font-size: .8em
            text-align: center
            a
              text-align: center
              color: $myDarkCol
              font-size: 1.2em

    .copy-right
      font-size: .6em

@media only screen and (min-width: 740px) and (max-width: 919px)
  footer
    .footer-content
      height: 550px
      .contact
        width: 70%
        h3
          font-size: 1.2em
        p
          font-size: .7em
      .follow-me
        &::before
          transform: translateX(5%) translateY(10%) rotate(-57deg)
        ul li
          font-size: .8em
          a i
            font-size: 1.7em
    .copy-right
      font-size: .6em

@media only screen and (min-width: 920px) and (max-width: 1290px)
  footer
    .footer-content
      height: 600px
      .contact
        p
          font-size: .8em
      .follow-me
        &::before
          transform: translateX(-10%) translateY(15%) rotate(-50deg)
    .copy-right
      font-size: .7em
