$myfont: 'Shadows Into Light', cursive
$myColor: #66fcf1
body
  margin: 0
  padding: 0


.slider-wrapper
  position: relative
  overflow: hidden
  height: 100vh
  width: 100vw

  ul.slider
    position: relative
    height: 100%
    width: 100%
    margin: 0
    padding: 0

    li
      position: relative
      height: 100%
      width: 100%
      list-style: none
      display: none

      &.showing
        display: block
      &.disappear
        transform-origin: right
        animation: disappear 1200ms ease-in-out forwards normal

      h2
        position: absolute
        top: 50px
        left: 100px
        font-size: 3em
        font-family: 'Modak', cursive
        letter-spacing: 2px
        transform-origin: left
        overflow: hidden
        animation: crowlRight 500ms linear forwards normal

      .back-img
        position: absolute
        width: 100%
        height: 100%
        filter: blur(1.5px)
        transform-origin: right
        animation: showImg 10000ms ease-in-out forwards normal

      .slide-content
        position: relative
        height: 100%
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center

        .first-fig
          animation: slide-left 1000ms ease-in-out forwards normal
          z-index: 1

        .second-fig
          z-index: 2

        .third-fig
          animation: slide-right 1000ms ease-in-out forwards normal
          z-index: 1

        .slide-item
          height: 70%
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

          img
            opacity: .8
            max-height: 350px
            max-width: 350px
          figcaption
            font-size: 3em
            font-family: $myfont
            color: rgba(70, 70, 70, .6)
            text-shadow: 2px 2px 10px  rgb(255, 255, 255)
            letter-spacing: 1.5px
  .slider-dots
    position: absolute
    width: 100%
    height: 25px
    background: linear-gradient(90deg, white, transparent, transparent)
    bottom: 0

    span
      float: left
      vertical-align: middle
      display: inline-block
      height: 10px
      width: 15px
      border-radius: 25%
      border: 2px solid rgb(120, 120, 120)
      margin: 10px
      margin-top: 6px
      transition: all 200ms ease-in-out

      &:hover
        background: rgb(255, 145, 126)
        border-radius: 35%
      &.is-active
        background: rgb(92, 0, 0)
        border-radius: 35%
header
  overflow: hidden
  top: 0
  left: 0

.header-img
  width: 100vw
  height: 100vh
  overflow: hidden
  img
    width: 100%
    height: 100%

// Nav bar
.nav-section
  position: static
  width: 100%
  z-index: 10
  transform-origin: top
  transition: all 500ms ease-in-out
  &.fixed-nav
    position: fixed
    top: 0
    transition: all 500ms ease-in-out
    animation: slide-nav 500ms ease-in-out forwards normal
    .navbar
      height: 50px
@keyframes slide-nav
  0%
    transform: scaleY(0)
  100%
    transform: scaleY(1)
.navbar
  height: 100px
  padding-top: 0
  padding-bottom: 0
  background: $myColor
  color: white
  transform-origin: top
  // background: linear-gradient($myColor, rgba(#66fcf1, 0.5), rgba(#66fcf1, 0.1))
  transition: all 300ms ease-in-out
  .navbar-brand
    img
      max-height: 65px
      margin-left: 50px
  .collapse
    margin-right: 100px
    justify-content: flex-end
    .navbar-nav
      font-size: 1.5em
      font-weight: 200
      font-family: $myfont
      letter-spacing: 2px
      a
        color: white
        text-shadow: 1px 1px 2px rgba(96, 96, 96, .6)
        transition: all 200ms ease-in-out
        &.active
          color: #2a8b84
          text-shadow: 1px 1px 3px rgb(96, 96, 96)
        &:hover
          color: white
          text-shadow: 1px 1px 3px rgb(96, 96, 96)
@keyframes showImg
  0%
    opacity: .3
    transform: scale(1)
  100%
    opacity: .8
    transform: scale(1.1)

@keyframes disappear
  0%
    opacity: .8
    transform: scale(1)
  100%
    opacity: .1
    transform: scale(.9)

@keyframes slide-left
  0%
    transform: translate(70%)
  60%
    transform: translate(-20%)
  100%
    transform: translate(0)

@keyframes slide-right
  0%
    transform: translate(-70%)
  60%
    transform: translate(20%)
  100%
    transform: translate(0)
@keyframes crowlRight
  0%
    transform: translateX(-200px) scaleX(0)
  100%
    transform: translateX(0) scaleX(1)

// Greeting Message:
#greeting-sec
  margin: 0
  margin-top: 50px
  width: 100vw
  height: 35vh
  display: flex
  justify-content: center
  align-items: center
  font-size: 2.5em
  font-family: $myfont
  letter-spacing: 1.5px
  font-weight: 800
  z-index: 1
  background: linear-gradient(transparent, transparent, rgba(#66fcf1, 0.2))
  span
    height: 100px

// parallax backgorund effect
.parallax-bg
  height: 500px
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden
  .parallax-img
    position: absolute
    height: 500px
    width: 100%
    background-image: url(images/ahmad1.jpg)
    background-position: top center
    background-repeat: repeat
    background-attachment: fixed
    background-size: contain
    background-color: #1f2833
    background-blend-mode: multiply
    filter: blur(2px)
  h3, h4
    color: white
    z-index: 5
    font-family: $myfont
    letter-spacing: 2px
    font-size: 4em
    font-weight: 200
  .arrow-wrapper
    position: absolute
    bottom: 5px
    height: 100px
    width: 90px
    background: transparent
    left: 50%
    transform: translate(-50%)
    border-radius: 50%
    // border: 5px solid white
    .arrow-down
      height: 100%
      width: 100%
      margin: auto
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      i
        color: white
        font-size: 5em
        animation: scroll-down 2s ease-in-out infinite normal

@keyframes scroll-down
  0%, 100%
    opacity: .3
    transform: translateY(0)
  50%
    opacity: .9
    transform: translateY(120%)
  51%
    opacity: 0
  55%
    opacity: 0
    transform: translateY(-110%)

// About section:
.side-tag
  position: absolute
  top: 0
  left: -40px
  padding: 5px
  background: $myColor
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  box-shadow: 5px 8px 10px -2px rgb(182, 182, 182)
  h2
    margin: 0
    background: $myColor
    padding: 15px 80px
    vertical-align: middle
    border: 2px dashed white
    color: white
    font-family: $myfont
    letter-spacing: 2px
    font-size: 2em
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
.about-container
  width: 80vw
  max-width: 1200px
  margin: auto
  position: relative
  // border: 1px dashed rgb(128, 128, 128)
  display: flex
  flex-direction: column
  justify-content: center
  .about-sign
    position: absolute
    top: 0
    left: 0
    img
      height: 200px
      width: 300px
      transform-origin: left bottom
      perspective: 1000px
      transform: rotateY(-89deg)
      transition: all 500ms ease-in-out
    // &:hover
    //   img
    //     transform: rotateY(0)
  .brief
    display: flex
    justify-content: center
    align-items: center
    margin: 20% 15% 0
    p
      font-family: $myfont
      font-size: 2em
      letter-spacing: 2px
      text-indent: 50px

.education
  height: 900px
  position: relative
  margin-top: 50px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 50px
  #edu-intro
    margin-top: 6%
    display: flex
    justify-content: center
    align-items: center
    p
      display: none
      margin-top: 20px
      width: 80%
      font-family: $myfont
      letter-spacing: 2px
      font-size: 1.7em
      text-align: center

  .edu-content
    margin-top: 75px
    ul
      position: relative
      list-style: none
      display: grid
      grid-template-columns: repeat(3, 30%)
      grid-template-rows: repeat(4, 140px)
      grid-gap: 1em
      font-family: $myfont
      letter-spacing: 3px
      li:nth-child(7)
        grid-row: 3/5
      li:nth-child(8)
        grid-column: 3/4
        grid-row: 3/5
      li
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 30px
        background: white
        margin: 4px
        box-shadow: 0px 0px 2px 2px rgb(180, 180, 180)inset
        transition: all 500ms ease-in-out
        left: -100%
        opacity: 0
        &.is-showing
          opacity: 1
          left: 0

        h5
          margin-top: 20px
          text-align: center
          line-height: 1.5em
          font-weight: 800
          color: $myColor
          font-size: 1.7em
        p
          position: relative
          font-size: 1.1em
          padding-bottom: 10px
          &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            border-radius: 1px
            width: 20%
            padding: 2px
            background: $myColor
            opacity: 0
            transition: all 500ms linear
        &:hover
          p::after
            animation: slide-underline 1.3s ease-in-out 200ms infinite normal

        // Right Shadow under li
        &::before
          content: ''
          position: absolute
          right: -4px
          bottom: 6px
          width: 50%
          height: 50px
          background: transparent
          box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, .3)
          transform: rotate(4deg)
          z-index: -1
          border: transparent
        // Left Shadow under li
        &::after
          content: ''
          position: absolute
          left: 2px
          bottom: 6px
          width: 45%
          height: 50px
          background: transparent
          box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, .3)
          transform: rotate(-4deg)
          z-index: -1
          border: transparent
// education items underline animation:
@keyframes slide-underline
  0%, 19%
    opacity: 0
    transform: translateX(0)
  20%, 80%
    opacity: .5
  81%, 100%
    opacity: 0
    transform: translateX(400%)

.skills
  position: relative
  height: 1050px
  max-height: 1200px
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-sizing: border-box
  #skills-intro
    padding-top: 100px
    height: 18%
    width: 60%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    p
      display: none
      font-size: 1.5em
      font-family: $myfont
      letter-spacing: 2px
      text-align: center
  #big-circle
    position: absolute
    height: 450px
    width: 450px
    border-radius: 50%
    top: 400px
    left: 50%
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .2)
    transform: translateX(-50%)
    #inner-circle
      width: 100%
      height: 100%
      border-radius: 50%
      padding-top: 50px
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      text-align: center
      background: $myColor
      color: white
      box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, .5)
      border: 3px solid #1f2833
      transform-origin: top
      opacity: 0
      h3
        font-size: 2.5em
        letter-spacing: 5px
        transform: scaleY(2)
        border-bottom: 1px solid #1f2833
        padding: 1px 10px
        margin-bottom: 20px
        transition: all 300ms ease-in-out
      div
        padding: 3% 10%
      &.show-cir
        animation: slide-down 3s ease-in-out 500ms forwards normal

  .skills-wrapper
    box-sizing: border-box
    padding: 30px
    list-style: none
    width: 100%
    height: 80%
    position: relative
    display: grid
    grid-template-columns: repeat(15, 1fr)
    grid-template-rows: repeat(15, 1fr)
    li
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      z-index: 5
      .skill-content
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 100%
        box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, .5)
        font-family: $myfont
        letter-spacing: 2px
        font-weight: 800
        background: #1f2833
        color: white
        cursor: pointer
        transition: all 400ms ease-in-out
        &.bubble-l
          animation: bubble-l 6s ease-in-out infinite normal
        &.bubble-r
          animation: bubble-r 8s ease-in-out infinite normal
        &.clicked-skill
          background: $myColor
          border: 6px solid #1f2833
        &:hover
          box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, .7)
          opacity: .97

        h3
          text-align: center
          transform: rotate(-5deg)
        .medium-h3
          font-size: 1.3em
        .small-h3
          font-size: 1em
        .level, .about-skill
          display: none

    // skills circles:
    #html
      grid-column: 4/7
      grid-row: 1/5
    #css
      grid-column: 10/13
      grid-row: 1/5
    #js
      grid-column: 2/5
      grid-row: 5/9
      .skill-content
        width: 85%
        height: 90%
    #jquery
      grid-column: 1/4
      grid-row: 8/11
      .skill-content
        width: 80%
    #sass
      grid-column: 11/14
      grid-row: 4/7
      .skill-content
        width: 85%
    #responsive
      grid-column: 2/5
      grid-row: 13/16
      .skill-content
        width: 90%
    #bootstrap
      grid-column: 9/11
      grid-row: 14/16
      .skill-content
        width: 90%
    #wordpress
      grid-column: 13/16
      grid-row: 7/10
      .skill-content
        height: 80%
        width: 80%
    #git
      grid-column: 8/10
      grid-row: 2/4
      .skill-content
        height: 80%
        width: 80%
        margin-left: -30%
    #php
      grid-column: 12/14
      grid-row: 10/12
      .skill-content
        height: 70%
        width: 70%
    #photoshop
      grid-column: 12/14
      grid-row: 13/15
    #angular
      grid-column: 6/7
      grid-row: 13/14
    #ux
      grid-column: 4/6
      grid-row: 11/13
      .skill-content
        width: 75%
    #seo
      grid-column: 7/8
      grid-row: 15/16

// skills animations:
@keyframes bubble-l
  0%,100%
    transform: translate(0) translateY(0) rotate(0)
  50%
    transform: translate(-10px) translateY(10px) rotate(10deg) rotateX(30deg)
@keyframes bubble-r
  0%,100%
    transform: translate(0) translateY(0) rotate(0)
  50%
    transform: translate(10px) translateY(-10px) rotate(-10deg) rotateX(-30deg)
// big-circle > inner-circle slide down animation:
@keyframes slide-down
  0%
    opacity: .2
    transform: scale(.9) translateY(-50%)
  20%
    opacity: 1
    transform: scaleX(1.04) scaleY(.97) translateY(8%)
  50%
    opacity: 1
    transform: scale(1) translateY(-10%)
  70%
    opacity: 1
    transform: scaleX(1.03) scaleY(.98) translateY(4%)
  90%
    opacity: 1
    transform: scale(1) translateY(-3%)
  100%
    opacity: 1
    transform: scale(1) translateY(0)

.cirtificates
  position: relative
  margin-top: 100px
  height: 800px
  width: 100%
  #cirtif-intro
    height: 140px
    display: flex
    justify-content: center
    align-items: flex-end
    p
      font-size: 1.5em
      font-family: $myfont
  .cirt-imgs
    width: 100%
    margin: auto
    margin-top: 4em
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    figure
      position: relative
      width: 30%
      cursor: pointer
      box-shadow: 0 5px 30px -5px rgba(0,0,0,.6)
      border-radius: 10px
      img
        width: 100%
        border-radius: 10px
      figcaption
        position: absolute
        top: 10px
        bottom: 10px
        right: 10px
        left: 10px
        display: flex
        justify-content: center
        align-items: center
        font-family: $myfont
        color: white
        font-size: 2em
        letter-spacing: 2px
        background: rgba(0,0,0,.4)
        transform-origin: bottom left
        transform: scale(0)
        transition: all 500ms ease-in-out
        opacity: 0
        border-radius: 10px
      &:hover figcaption
        opacity: 1
        transform: scale(1)






  .popup
    z-index: 999
    display: none
    .overlay
      width: 100vw
      height: 100vh
      background: rgba(0,0,0,.66)
      position: fixed
      top: 0
      left: 0
    .img-show
      width: 700px
      height: 500px
      background: #fff
      position: absolute
      top: 40%
      left: 50%
      border-radius: 10px
      box-shadow: 0 0 20px 10px rgba(0,0,0,.3)
      transform: translate(-50%, -50%)
      overflow: hidden
      span
        position: absolute
        cursor: pointer
        top: 10px
        right: 10px
        z-index: 99
        font-size: 1.3em
        transition: all 200ms ease-in-out
        &:hover
          transform: scale(1.2)
          text-shadow: 0 0 10px rgba(0,0,0,.7)
      img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        border-radius: 10px

