html {
  background: #f8eee7; }

body {
  margin: auto;
  max-width: 1700px;
  background: #f8eee7;
  padding: 0; }

header {
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.9); }

.nav-section {
  position: absolute;
  width: 100%;
  z-index: 100;
  transform-origin: top;
  transition: all 500ms ease-in-out; }
  .nav-section.fixed-nav .navbar-nav {
    height: 55px;
    position: fixed;
    top: -5px; }
  .nav-section.styled-nav .navbar-nav {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to right, rgba(148, 97, 142, 0.2), rgba(148, 97, 142, 0.7), rgba(148, 97, 142, 0.7), rgba(148, 97, 142, 0.2)); }
    .nav-section.styled-nav .navbar-nav:hover {
      top: 5px;
      border-radius: 10px;
      background: rgba(148, 97, 142, 0.7);
      box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5); }

.navbar {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 0;
  background: transparent;
  color: white;
  transform-origin: top; }
  .navbar .navbar-brand img {
    max-height: 65px;
    margin-left: 50px; }
  .navbar .collapse {
    margin-right: 100px;
    justify-content: flex-end; }
    .navbar .collapse .navbar-nav {
      padding: 10px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 1em;
      font-family: "Marko One", sans-serif;
      transition: all 300ms ease-in-out;
      transform: translate(25%); }
      .navbar .collapse .navbar-nav a {
        color: white;
        text-shadow: 0px 4px 2px rgba(96, 96, 96, 0.6);
        transition: all 300ms ease-in-out;
        transform-origin: bottom left; }
        .navbar .collapse .navbar-nav a:hover {
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg);
          color: white;
          text-shadow: 0px 6px 2px rgba(96, 96, 96, 0.6); }
        .navbar .collapse .navbar-nav a:visited {
          color: white; }
        .navbar .collapse .navbar-nav a:focus {
          color: white; }
        .navbar .collapse .navbar-nav a.active {
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg);
          color: white; }

.header-img {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .header-img img {
    width: 100%;
    height: 100%; }

#greeting-sec {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-family: "Marko One", sans-serif;
  color: #49274a;
  letter-spacing: 1.5px;
  font-weight: 800;
  z-index: 1;
  background: linear-gradient(transparent, transparent, rgba(73, 39, 74, 0.2)); }
  #greeting-sec span {
    height: 100px; }

.arrow-wrapper {
  position: absolute;
  bottom: 30px;
  height: 100px;
  width: 90px;
  background: transparent;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  z-index: 50; }
  .arrow-wrapper .arrow-down {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .arrow-wrapper .arrow-down i {
      color: #49274a;
      font-size: 5em;
      animation: scroll-down 2s ease-in-out infinite normal; }

@keyframes scroll-down {
  0%, 100% {
    opacity: 0.7;
    transform: translateY(0); }
  50% {
    opacity: 1;
    transform: translateY(120%); }
  51% {
    opacity: 0; }
  55% {
    opacity: 0;
    transform: translateY(-110%); } }
.parallax-bg {
  height: 500px;
  position: relative;
  box-shadow: 0px -3px 15px -3px rgba(0, 0, 0, 0.9), 0px 5px 15px -3px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .parallax-bg .parallax-img {
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: url(images/ahmad1.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    filter: blur(2px); }
  .parallax-bg h3, .parallax-bg h4 {
    color: white;
    z-index: 5;
    font-family: "Marko One", sans-serif;
    letter-spacing: 2px;
    font-size: 3em; }
  .parallax-bg .arrow-wrapper i {
    color: white; }

@media only screen and (max-width: 320px) {
  header {
    min-height: 300px; }

  .header-img {
    min-height: 300px; } }
@media only screen and (min-width: 320px) and (max-width: 560px) {
  #greeting-sec {
    height: 15vh;
    min-height: 100px;
    font-size: 0.9em;
    letter-spacing: 1px; }

  .parallax-bg {
    height: 180px; }
    .parallax-bg .parallax-img {
      height: 180px; }
    .parallax-bg h3, .parallax-bg h4 {
      font-size: 1em;
      letter-spacing: 0.5px; }
    .parallax-bg .arrow-wrapper {
      bottom: 5px;
      height: 60px;
      width: 50px; }
      .parallax-bg .arrow-wrapper .arrow-down i {
        font-size: 2em; } }
@media only screen and (min-width: 560px) and (max-width: 740px) {
  #greeting-sec {
    height: 20vh;
    min-height: 150px;
    font-size: 1.3em; }

  .parallax-bg {
    height: 270px; }
    .parallax-bg .parallax-img {
      height: 270px; }
    .parallax-bg h3, .parallax-bg h4 {
      font-size: 1.5em;
      letter-spacing: 1px; }
    .parallax-bg .arrow-wrapper {
      bottom: 15px;
      height: 70px;
      width: 70px; }
      .parallax-bg .arrow-wrapper .arrow-down i {
        font-size: 3em; } }
@media only screen and (min-width: 740px) and (max-width: 920px) {
  #greeting-sec {
    height: 25vh;
    min-height: 150px;
    font-size: 1.5em; }

  .parallax-bg {
    height: 310px; }
    .parallax-bg .parallax-img {
      height: 310px; }
    .parallax-bg h3, .parallax-bg h4 {
      font-size: 1.7em;
      letter-spacing: 1px; }
    .parallax-bg .arrow-wrapper {
      bottom: 15px;
      height: 70px;
      width: 70px; }
      .parallax-bg .arrow-wrapper .arrow-down i {
        font-size: 3em; } }
@media only screen and (min-width: 920px) and (max-width: 1290px) {
  #greeting-sec {
    height: 30vh;
    min-height: 200px;
    font-size: 1.7em; }

  .parallax-bg {
    height: 400px; }
    .parallax-bg .parallax-img {
      height: 400px; }
    .parallax-bg h3, .parallax-bg h4 {
      font-size: 2em;
      letter-spacing: 1px; } }
#portfolio {
  width: 100%;
  margin: 60px 0; }
  #portfolio .project-sign {
    position: relative; }
    #portfolio .project-sign img {
      height: 220px;
      transform: scaleX(1.2);
      transform-origin: left; }

.projects-wrapper {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: auto; }

.projects {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .projects li {
    position: relative;
    margin: 1em;
    height: 280px;
    width: 320px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden; }
    .projects li a {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden; }
      .projects li a img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
        transform-origin: top; }
      .projects li a p {
        border: 2px solid white;
        text-align: center;
        color: white;
        font-family: "Marko One", sans-serif;
        font-size: 1.5em;
        padding: 10px;
        z-index: 20; }
      .projects li a:hover {
        text-decoration: none; }
        .projects li a:hover img {
          transform: scale(1.2); }

@media only screen and (min-width: 320px) and (max-width: 560px) {
  #portfolio {
    margin: 30px 0; }
    #portfolio .project-sign img {
      height: 100px;
      transform: scaleX(0.6); }
    #portfolio .projects-wrapper {
      width: 95%; }
      #portfolio .projects-wrapper .projects {
        margin-top: 10px; }
        #portfolio .projects-wrapper .projects li {
          height: 140px;
          width: 140px; }
          #portfolio .projects-wrapper .projects li p {
            font-size: 0.8em; } }
@media only screen and (min-width: 560px) and (max-width: 740px) {
  #portfolio {
    margin: 30px 0; }
    #portfolio .project-sign img {
      height: 120px;
      transform: scaleX(0.7); }
    #portfolio .projects-wrapper {
      width: 95%; }
      #portfolio .projects-wrapper .projects {
        margin-top: 20px; }
        #portfolio .projects-wrapper .projects li {
          height: 140px;
          width: 140px; }
          #portfolio .projects-wrapper .projects li p {
            font-size: 0.7em; } }
@media only screen and (min-width: 740px) and (max-width: 920px) {
  #portfolio {
    margin: 40px 0; }
    #portfolio .project-sign img {
      height: 150px;
      transform: scaleX(0.9); }
    #portfolio .projects-wrapper {
      width: 95%; }
      #portfolio .projects-wrapper .projects {
        margin-top: 30px; }
        #portfolio .projects-wrapper .projects li {
          height: 170px;
          width: 190px; }
          #portfolio .projects-wrapper .projects li p {
            font-size: 1.1em; } }
@media only screen and (min-width: 920px) and (max-width: 1290px) {
  #portfolio {
    margin: 70px 0; }
    #portfolio .project-sign img {
      height: 180px;
      transform: scaleX(1); }
    #portfolio .projects {
      margin-top: 40px; }
      #portfolio .projects li {
        height: 210px;
        width: 240px; }
        #portfolio .projects li p {
          font-size: 1.3em; } }
.side-tag {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 5px;
  background: #94618e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 8px 10px -2px #b6b6b6; }
  .side-tag h2 {
    margin: 0;
    background: #94618e;
    padding: 15px 80px;
    vertical-align: middle;
    border: 2px dashed white;
    color: white;
    font-family: "Marko One", sans-serif;
    letter-spacing: 2px;
    font-size: 1.7em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }

.about-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about-sign img {
  height: 200px;
  width: 300px; }

.brief {
  width: 70%;
  margin: 40px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .brief h3 {
    color: #94618e;
    font-size: 2em;
    padding-bottom: 30px;
    font-family: "Marko One", sans-serif; }
  .brief p {
    color: #49274a;
    font-family: "Marko One", sans-serif;
    font-size: 1em;
    text-indent: 20px;
    text-align: center; }
  .brief p:last-child {
    font-size: 1.2em; }
    .brief p:last-child a {
      color: #94618e; }

.about {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.education {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .education #edu-intro {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .education #edu-intro p {
      display: none;
      margin-top: 20px;
      width: 80%;
      font-family: "Marko One", sans-serif;
      color: #49274a;
      font-size: 1.3em;
      text-align: center; }

.edu-content {
  margin-top: 40px; }
  .edu-content ul {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(7, 70px);
    grid-gap: 1em;
    font-family: "Marko One", sans-serif;
    z-index: 10; }
    .edu-content ul li {
      grid-column: span 2;
      grid-row: span 2;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 30px;
      background: #f8eee7;
      margin: 4px;
      box-shadow: 0px 0px 2px 2px #b4b4b4 inset;
      transition: all 500ms ease-in-out;
      left: -100%;
      opacity: 0; }
      .edu-content ul li.is-showing {
        opacity: 1;
        left: 0; }
      .edu-content ul li h5 {
        margin-top: 20px;
        text-align: center;
        line-height: 1.5em;
        color: #94618e;
        font-size: 1.4em; }
      .edu-content ul li p {
        text-align: center;
        position: relative;
        font-size: 1em;
        padding-bottom: 10px; }
        .edu-content ul li p::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 1px;
          width: 20%;
          padding: 2px;
          background: #94618e;
          opacity: 0;
          transition: all 500ms linear; }
      .edu-content ul li:hover p::after {
        animation: slide-underline 1.3s ease-in-out 200ms infinite normal; }
      .edu-content ul li::before {
        content: "";
        position: absolute;
        right: -4px;
        bottom: 6px;
        width: 50%;
        height: 50px;
        background: transparent;
        box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.3);
        transform: rotate(4deg);
        z-index: -1;
        border: transparent; }
      .edu-content ul li::after {
        content: "";
        position: absolute;
        left: 2px;
        bottom: 6px;
        width: 45%;
        height: 50px;
        background: transparent;
        box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.3);
        transform: rotate(-4deg);
        z-index: -1;
        border: transparent; }
    .edu-content ul li:nth-child(7) {
      grid-column: 1/4;
      grid-row: 5/8;
      margin-right: 15%; }
    .edu-content ul li:nth-child(8) {
      grid-column: 4/7;
      grid-row: 5/8;
      margin-left: 15%; }

@keyframes slide-underline {
  0%, 19% {
    opacity: 0;
    transform: translateX(0); }
  20%, 80% {
    opacity: 0.5; }
  81%, 100% {
    opacity: 0;
    transform: translateX(400%); } }
@media only screen and (min-width: 320px) and (max-width: 560px) {
  .arrow-wrapper {
    display: none; }

  .about-sign img {
    height: 100px;
    width: 130px; }

  .brief {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px; }
    .brief h3 {
      font-size: 1.1em;
      padding-bottom: 1px; }
    .brief p {
      font-size: 0.7em; }
    .brief p:last-child {
      font-size: 0.8em; }

  .side-tag h2 {
    padding: 8px 30px;
    font-size: 0.8em; }

  .education {
    margin-bottom: 20px; }
    .education #edu-intro p {
      padding-top: 15px;
      font-size: 0.7em; }
    .education .edu-content {
      margin-top: 10px; }
      .education .edu-content ul {
        padding-left: 25px;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(5, 80px);
        grid-gap: 0.5em; }
        .education .edu-content ul li {
          grid-column: span 1;
          grid-row: span 1;
          padding: 10px; }
          .education .edu-content ul li h5 {
            padding-top: 10px;
            font-size: 0.7em; }
          .education .edu-content ul li p {
            font-size: 0.5em;
            padding-bottom: 10px; }
        .education .edu-content ul li:nth-child(7) {
          grid-column: 1/2;
          grid-row: 4/6;
          margin-right: auto;
          margin-bottom: 20%; }
        .education .edu-content ul li:nth-child(8) {
          grid-column: 2/3;
          grid-row: 4/6;
          margin-bottom: 20%;
          margin-left: auto; } }
@media only screen and (min-width: 560px) and (max-width: 740px) {
  .arrow-wrapper {
    bottom: 15px;
    height: 70px;
    width: 70px; }
    .arrow-wrapper .arrow-down i {
      font-size: 3em; }

  .about-sign img {
    height: 120px;
    width: 160px; }

  .brief {
    width: 88%;
    margin-top: 20px;
    margin-bottom: 30px; }
    .brief h3 {
      font-size: 1.3em;
      padding-bottom: 5px; }
    .brief p {
      font-size: 0.7em; }
    .brief p:last-child {
      font-size: 0.8em; }

  .side-tag h2 {
    padding: 10px 35px;
    font-size: 1em; }

  .education {
    margin-bottom: 25px; }
    .education #edu-intro p {
      padding-top: 20px;
      font-size: 0.9em; }
    .education .edu-content {
      margin-top: 15px; }
      .education .edu-content ul {
        padding-left: 15px;
        grid-template-rows: repeat(7, 35px);
        grid-gap: 0.5em; }
        .education .edu-content ul li {
          padding: 10px; }
          .education .edu-content ul li h5 {
            font-size: 0.8em; }
          .education .edu-content ul li p {
            margin-bottom: 5px;
            font-size: 0.6em; } }
@media only screen and (min-width: 740px) and (max-width: 920px) {
  .arrow-wrapper .arrow-down i {
    font-size: 3em; }

  .about-sign img {
    height: 150px;
    width: 220px; }

  .brief {
    width: 85%;
    margin-top: 25px;
    margin-bottom: 35px; }
    .brief h3 {
      font-size: 1.5em;
      padding-bottom: 10px; }
    .brief p {
      font-size: 0.8em; }
    .brief p:last-child {
      font-size: 0.9em; }

  .side-tag h2 {
    padding: 10px 40px;
    font-size: 1.2em; }

  .education {
    margin-bottom: 30px; }
    .education #edu-intro p {
      padding-top: 20px;
      font-size: 1em; }

  .edu-content {
    margin-top: 20px; }
    .edu-content ul {
      padding: 0;
      grid-template-rows: repeat(7, 45px); }
      .edu-content ul li {
        padding: 25px; }
        .edu-content ul li h5 {
          font-size: 1em; }
        .edu-content ul li p {
          font-size: 0.7em; } }
@media only screen and (min-width: 920px) and (max-width: 1290px) {
  .arrow-wrapper .arrow-down i {
    font-size: 4em; }

  .about-sign img {
    height: 170px;
    width: 250px; }

  .brief {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 40px; }
    .brief p {
      font-size: 0.9em; }
    .brief p:last-child {
      font-size: 1em; }

  .side-tag h2 {
    padding: 12px 50px;
    font-size: 1.4em; }

  .education {
    margin-bottom: 40px; }
    .education #edu-intro p {
      padding-top: 20px;
      font-size: 1.1em; }

  .edu-content {
    margin-top: 35px; }
    .edu-content ul {
      padding: 0;
      grid-template-rows: repeat(7, 50px); }
      .edu-content ul li {
        padding: 25px; }
        .edu-content ul li h5 {
          font-size: 1.2em; }
        .edu-content ul li p {
          font-size: 0.9em; } }
.skills {
  position: relative;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

#skills-intro {
  padding-top: 170px;
  height: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #skills-intro p {
    color: #49274a;
    display: none;
    font-size: 1.2em;
    font-family: "Marko One", sans-serif;
    text-align: center; }

#big-circle {
  position: absolute;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  top: 400px;
  left: 50%;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%); }

#inner-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #94618e;
  color: white;
  font-family: "Marko One", sans-serif;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
  border: 3px solid #49274a;
  transform-origin: top;
  opacity: 0; }
  #inner-circle h3 {
    font-size: 2em;
    transform: scaleY(1.3);
    max-width: 60%;
    text-align: center;
    transition: all 300ms ease-in-out; }
  #inner-circle hr {
    width: 50%;
    background: white;
    height: 1px; }
  #inner-circle #circle-content {
    padding: 3% 5%; }
  #inner-circle.show-cir {
    animation: slide-down 3s ease-in-out 500ms forwards normal; }
  #inner-circle #circle-logo {
    max-height: 80px;
    max-width: 130px;
    opacity: 0.5; }

.skills-wrapper {
  box-sizing: border-box;
  padding: 30px;
  list-style: none;
  width: 100%;
  max-width: 1150px;
  height: 80%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(13, 1fr); }
  .skills-wrapper li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5; }

.skill-content {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
  font-family: "Marko One", sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
  background: #49274a;
  color: white;
  cursor: pointer;
  transition: all 400ms ease-in-out; }
  .skill-content.bubble-l {
    animation: bubble-l 6s ease-in-out infinite normal; }
  .skill-content.bubble-r {
    animation: bubble-r 8s ease-in-out infinite normal; }
  .skill-content.clicked-skill {
    background: #94618e;
    border: 6px solid #49274a; }
  .skill-content:hover {
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.7);
    opacity: 0.97; }
  .skill-content h3 {
    font-size: 1.4em;
    text-align: center;
    transform: rotate(-5deg); }
  .skill-content .medium-h3 {
    font-size: 1em; }
  .skill-content .small-h3 {
    font-size: 0.8em; }
  .skill-content .about-skill {
    display: none; }
  .skill-content .skill-logo {
    display: none; }

@keyframes bubble-l {
  0%,100% {
    transform: translate(0) translateY(0) rotate(0); }
  50% {
    transform: translate(-10px) translateY(10px) rotate(10deg) rotateX(30deg); } }
@keyframes bubble-r {
  0%,100% {
    transform: translate(0) translateY(0) rotate(0); }
  50% {
    transform: translate(10px) translateY(-10px) rotate(-10deg) rotateX(-30deg); } }
@keyframes slide-down {
  0% {
    opacity: 0.2;
    transform: scale(0.9) translateY(-50%); }
  20% {
    opacity: 1;
    transform: scaleX(1.04) scaleY(0.97) translateY(8%); }
  50% {
    opacity: 1;
    transform: scale(1) translateY(-10%); }
  70% {
    opacity: 1;
    transform: scaleX(1.03) scaleY(0.98) translateY(4%); }
  90% {
    opacity: 1;
    transform: scale(1) translateY(-3%); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); } }
#html {
  grid-column: 4/7;
  grid-row: 1/5; }

#css {
  grid-column: 10/13;
  grid-row: 1/5; }

#js {
  grid-column: 2/5;
  grid-row: 5/9; }
  #js .skill-content {
    width: 85%;
    height: 90%; }

#jquery {
  grid-column: 1/4;
  grid-row: 8/11; }
  #jquery .skill-content {
    width: 80%; }

#sass {
  grid-column: 11/14;
  grid-row: 4/7; }
  #sass .skill-content {
    width: 85%; }

#responsive {
  grid-column: 1/4;
  grid-row: 2/5;
  transform: rotate(-30deg); }
  #responsive .skill-content {
    width: 90%; }

#bootstrap {
  grid-column: 14/16;
  grid-row: 10/12; }
  #bootstrap .skill-content {
    width: 85%; }

#wordpress {
  grid-column: 13/16;
  grid-row: 2/5;
  transform: rotate(30deg); }
  #wordpress .skill-content {
    height: 80%;
    width: 80%; }

#git {
  grid-column: 8/10;
  grid-row: 2/4; }
  #git .skill-content {
    height: 80%;
    width: 80%;
    margin-left: -30%;
    margin-top: -30px; }

#php {
  grid-column: 12/14;
  grid-row: 9/11; }
  #php .skill-content {
    height: 70%;
    width: 70%; }

#photoshop {
  grid-column: 13/15;
  grid-row: 7/9; }

#angular {
  font-size: 0.7em;
  grid-column: 2/3;
  grid-row: 11/12;
  transform: translateY(30px); }

#ux {
  grid-column: 3/5;
  grid-row: 10/12;
  transform: translateX(20px); }
  #ux .skill-content {
    width: 75%; }

#seo {
  grid-column: 12/13;
  grid-row: 11/12; }

@media only screen and (min-width: 320px) and (max-width: 560px) {
  .skills {
    height: 700px; }

  #skills-intro {
    padding-top: 100px;
    width: 85%; }
    #skills-intro p {
      font-size: 0.7em; }

  #big-circle {
    height: 230px;
    width: 300px;
    top: 300px; }

  #inner-circle {
    padding-top: 25px;
    padding-bottom: 25px; }
    #inner-circle hr {
      display: none; }
    #inner-circle h3 {
      font-size: 1em;
      transform: scaleY(1);
      max-width: 60%; }
    #inner-circle #circle-content {
      font-size: 0.65em; }
    #inner-circle #circle-logo {
      max-height: 40px;
      max-width: 60px; }

  .skills-wrapper {
    min-width: 560px;
    grid-template-rows: repeat(15, 1fr); }
    .skills-wrapper #html {
      grid-column: 4/8;
      grid-row: 1/4; }
    .skills-wrapper #css {
      grid-column: 10/14;
      grid-row: 1/4; }
    .skills-wrapper #js {
      grid-row: 3/6; }
      .skills-wrapper #js .skill-content {
        height: 85%; }
    .skills-wrapper #jquery {
      grid-row: 5/8; }
      .skills-wrapper #jquery .skill-content {
        height: 90%; }
    .skills-wrapper #sass {
      grid-row: 3/5; }
      .skills-wrapper #sass .skill-content {
        width: 100%; }
    .skills-wrapper #responsive {
      grid-row: 1/3; }
      .skills-wrapper #responsive .skill-content {
        width: 100%; }
    .skills-wrapper #bootstrap {
      grid-column: 13/16; }
      .skills-wrapper #bootstrap .skill-content {
        height: 75%;
        width: 90%; }
    .skills-wrapper #wordpress {
      grid-row: 4/7; }
      .skills-wrapper #wordpress .skill-content {
        height: 70%;
        width: 85%; }
    .skills-wrapper #git .skill-content {
      height: 70%;
      margin-top: 10px; }
    .skills-wrapper #php {
      grid-column: 1/3;
      grid-row: 8/10; }
    .skills-wrapper #photoshop {
      grid-column: 14/16; }
      .skills-wrapper #photoshop .skill-content {
        height: 65%; }
    .skills-wrapper #angular {
      grid-row: 10/11; }
    .skills-wrapper #ux {
      grid-row: 11/13; }
      .skills-wrapper #ux .skill-content {
        height: 75%; }

  .skill-content {
    letter-spacing: 1px;
    font-weight: 400; }
    .skill-content.clicked-skill {
      border: 2px solid #49274a; }
    .skill-content h3 {
      font-size: 0.8em; }
    .skill-content .medium-h3 {
      font-size: 0.6em; }
    .skill-content .small-h3 {
      font-size: 0.4em; } }
@media only screen and (min-width: 560px) and (max-width: 740px) {
  .skills {
    height: 700px; }

  #skills-intro {
    padding-top: 100px;
    width: 85%; }
    #skills-intro p {
      font-size: 0.7em; }

  #big-circle {
    height: 230px;
    width: 300px;
    top: 300px; }

  #inner-circle {
    padding-top: 25px;
    padding-bottom: 25px; }
    #inner-circle hr {
      display: none; }
    #inner-circle h3 {
      font-size: 1em;
      transform: scaleY(1);
      max-width: 60%; }
    #inner-circle #circle-content {
      font-size: 0.65em; }
    #inner-circle #circle-logo {
      max-height: 40px;
      max-width: 60px; }

  .skills-wrapper {
    min-width: 560px;
    grid-template-rows: repeat(15, 1fr); }
    .skills-wrapper #html {
      grid-column: 4/8;
      grid-row: 1/4; }
    .skills-wrapper #css {
      grid-column: 10/14;
      grid-row: 1/4; }
    .skills-wrapper #js {
      grid-row: 3/6; }
      .skills-wrapper #js .skill-content {
        height: 85%; }
    .skills-wrapper #jquery {
      grid-row: 5/8; }
      .skills-wrapper #jquery .skill-content {
        height: 90%; }
    .skills-wrapper #sass {
      grid-row: 3/5; }
      .skills-wrapper #sass .skill-content {
        width: 100%; }
    .skills-wrapper #responsive {
      grid-row: 1/3; }
      .skills-wrapper #responsive .skill-content {
        width: 100%; }
    .skills-wrapper #bootstrap {
      grid-column: 13/16; }
      .skills-wrapper #bootstrap .skill-content {
        height: 75%;
        width: 90%; }
    .skills-wrapper #wordpress {
      grid-row: 4/7; }
      .skills-wrapper #wordpress .skill-content {
        height: 70%;
        width: 85%; }
    .skills-wrapper #git .skill-content {
      height: 70%;
      margin-top: 10px; }
    .skills-wrapper #php {
      grid-column: 1/3;
      grid-row: 8/10; }
    .skills-wrapper #photoshop {
      grid-column: 14/16; }
      .skills-wrapper #photoshop .skill-content {
        height: 65%; }
    .skills-wrapper #angular {
      grid-row: 10/11; }
    .skills-wrapper #ux {
      grid-row: 11/13; }
      .skills-wrapper #ux .skill-content {
        height: 75%; }

  .skill-content {
    letter-spacing: 1px;
    font-weight: 400; }
    .skill-content.clicked-skill {
      border: 2px solid #49274a; }
    .skill-content h3 {
      font-size: 0.8em; }
    .skill-content .medium-h3 {
      font-size: 0.6em; }
    .skill-content .small-h3 {
      font-size: 0.4em; } }
@media only screen and (min-width: 740px) and (max-width: 920px) {
  .skills {
    height: 800px; }

  #skills-intro {
    padding-top: 110px;
    width: 85%; }
    #skills-intro p {
      font-size: 0.8em; }

  #big-circle {
    height: 320px;
    width: 320px;
    top: 340px; }

  #inner-circle {
    padding-top: 30px;
    padding-bottom: 25px; }
    #inner-circle h3 {
      font-size: 1.2em;
      transform: scaleY(1.1);
      max-width: 60%; }
    #inner-circle #circle-content {
      font-size: 0.75em; }
    #inner-circle #circle-logo {
      max-height: 50px;
      max-width: 70px; }

  .skills-wrapper {
    min-width: 735px;
    grid-template-rows: repeat(15, 1fr); }

  .skill-content {
    letter-spacing: 1px;
    font-weight: 400; }
    .skill-content.clicked-skill {
      border: 3px solid #49274a; }
    .skill-content h3 {
      font-size: 1em; }
    .skill-content .medium-h3 {
      font-size: 0.7em; }
    .skill-content .small-h3 {
      font-size: 0.5em; }

  #ux {
    transform: translateY(30px); } }
@media only screen and (min-width: 920px) and (max-width: 1290px) {
  .skills {
    height: 900px; }

  #skills-intro {
    padding-top: 150px;
    width: 80%; }
    #skills-intro p {
      font-size: 1em; }

  #big-circle {
    height: 380px;
    width: 380px;
    top: 370px; }

  #inner-circle {
    padding-top: 40px;
    padding-bottom: 40px; }
    #inner-circle h3 {
      font-size: 1.5em;
      transform: scaleY(1.2);
      max-width: 60%; }
    #inner-circle #circle-content {
      font-size: 0.85em; }
    #inner-circle #circle-logo {
      max-height: 70px;
      max-width: 110px; }

  .skills-wrapper {
    min-width: 900px;
    max-width: 950px;
    grid-template-rows: repeat(15, 1fr); }

  .skill-content {
    letter-spacing: 1px;
    font-weight: 600; }
    .skill-content.clicked-skill {
      border: 4px solid #49274a; }
    .skill-content h3 {
      font-size: 1.2em; }
    .skill-content .medium-h3 {
      font-size: 0.8em; }
    .skill-content .small-h3 {
      font-size: 0.6em; }

  #ux {
    transform: translateY(30px); } }
.cirtificates {
  position: relative;
  margin-top: 100px;
  height: 800px;
  width: 100%; }
  .cirtificates #cirtif-intro {
    text-transform: uppercase;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .cirtificates #cirtif-intro p {
      font-size: 1.3em;
      font-family: "Marko One", sans-serif;
      color: #49274a; }
  .cirtificates .cirt-imgs {
    width: 100%;
    margin: auto;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .cirtificates .cirt-imgs figure {
      display: none;
      margin: 1em;
      position: relative;
      width: 30%;
      cursor: pointer;
      box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
      border-radius: 10px; }
      .cirtificates .cirt-imgs figure img {
        width: 100%;
        border-radius: 10px; }
      .cirtificates .cirt-imgs figure figcaption {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Marko One", sans-serif;
        color: white;
        font-size: 2em;
        letter-spacing: 2px;
        background: rgba(148, 97, 142, 0.4);
        transform-origin: bottom left;
        transform: scale(0);
        transition: all 500ms ease-in-out;
        opacity: 0;
        border-radius: 10px; }
      .cirtificates .cirt-imgs figure:hover figcaption {
        opacity: 1;
        transform: scale(1); }

.popup {
  position: relative;
  z-index: 999;
  display: none; }
  .popup .overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(148, 97, 142, 0.3);
    position: fixed;
    top: 0;
    left: 0; }
  .popup .img-show {
    width: 700px;
    height: 500px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    overflow: hidden; }
    .popup .img-show span {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
      z-index: 99;
      font-size: 1.3em;
      transition: all 200ms ease-in-out; }
      .popup .img-show span:hover {
        transform: scale(1.2);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
    .popup .img-show img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }

.courses-container {
  width: 100%;
  margin-top: 100px;
  position: relative;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#courses-intro {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  #courses-intro p {
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "Marko One", sans-serif;
    color: #49274a; }

#courses-wrapper {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  list-style: none; }
  #courses-wrapper .course-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    background: #f8eee7;
    border: 1em solid #49274a;
    font-family: "Marko One", sans-serif; }
    #courses-wrapper .course-content h3 {
      color: #49274a; }
    #courses-wrapper .course-content ul {
      padding-top: 1.3em; }
    #courses-wrapper .course-content:nth-child(1) {
      padding-right: 70px;
      justify-content: flex-start;
      grid-column: 1/span 5;
      grid-row: 1/4; }
      #courses-wrapper .course-content:nth-child(1) p {
        width: 80%; }
    #courses-wrapper .course-content:nth-child(2) {
      padding-left: 5px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translate(80px, 0px);
      grid-column: 4/span 4;
      grid-row: 3/6;
      z-index: 71; }
      #courses-wrapper .course-content:nth-child(2) ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none; }
      #courses-wrapper .course-content:nth-child(2) a {
        color: #94618e; }
    #courses-wrapper .course-content:nth-child(3) {
      justify-content: center;
      transform: translate(0px, -40px);
      grid-column: 2/span 3;
      grid-row: 4/7;
      z-index: 72; }
      #courses-wrapper .course-content:nth-child(3) ul {
        padding-left: 1.1em; }
    #courses-wrapper .course-content:nth-child(4) {
      transform: translate(0px, -70px);
      align-items: flex-end;
      grid-column: 5/span 3;
      grid-row: 2/4;
      z-index: 72; }
      #courses-wrapper .course-content:nth-child(4) ul {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none;
        text-align: right; }

#contact {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 900px; }

footer {
  position: relative;
  margin: 0;
  margin-top: -250px;
  padding: 0;
  height: 900px;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 70; }

.footer-upper-margin {
  height: 300px;
  width: 100%;
  background: transparent; }

.footer-content {
  height: 500px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px -4px 6px -1px rgba(73, 39, 74, 0.5); }

.contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .contact h3 {
    font-family: "Marko One", sans-serif;
    color: #49274a;
    text-transform: uppercase; }
  .contact p {
    font-family: "Marko One", sans-serif;
    color: #94618e; }
  .contact form {
    color: #49274a;
    width: 80%; }
    .contact form label {
      font-family: "Marko One", sans-serif;
      padding-left: 1em;
      margin-bottom: 0;
      margin-top: 10px; }
    .contact form input, .contact form textarea {
      height: 3em;
      border: none;
      background: transparent;
      box-shadow: 0 0px 2px #94618e; }
      .contact form input:focus, .contact form textarea:focus {
        box-shadow: 0 0px 5px #49274a inset;
        background: transparent; }
    .contact form textarea {
      height: 5em;
      max-height: 8em; }
    .contact form button {
      background: #49274a;
      font-family: "Marko One", sans-serif;
      border: none;
      width: 50%;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
      .contact form button:hover {
        background: #94618e;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6); }
      .contact form button i {
        padding-left: 1em; }

.follow-me {
  position: relative;
  width: 50%;
  height: 100%; }
  .follow-me::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 250%;
    background: #49274a;
    transform: translateX(-20%) translateY(15%) rotate(-40deg);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8) inset; }
  .follow-me ul {
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    .follow-me ul li {
      z-index: 72;
      list-style: none;
      font-family: "Marko One", sans-serif;
      font-size: 1em;
      transition: all 200ms ease-in-out; }
      .follow-me ul li a {
        color: white;
        text-decoration: none; }
        .follow-me ul li a i {
          font-size: 2em;
          padding: 10px;
          vertical-align: middle; }
      .follow-me ul li:hover {
        transform: scale(1.1); }

.copy-right {
  position: absolute;
  background: #f8eee7;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -4px 6px -1px rgba(73, 39, 74, 0.5);
  color: #49274a;
  font-family: "Marko One", sans-serif;
  font-size: 0.8em;
  opacity: 0.9; }
  .copy-right span {
    font-style: italic; }

/*# sourceMappingURL=styles.css.map */
