body {
  margin: 0;
  padding: 0; }

header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0; }

.header-img {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .header-img img {
    width: 100%;
    height: 100%; }

.nav-section {
  position: absolute;
  width: 100%;
  z-index: 100;
  transform-origin: top;
  transition: all 500ms ease-in-out; }
  .nav-section.fixed-nav {
    position: fixed;
    top: 0; }
  .nav-section.styled-nav {
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #66fcf1, transparent, transparent, transparent); }

.navbar {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  color: white;
  transform-origin: top;
  transition: all 300ms ease-in-out; }
  .navbar .navbar-brand img {
    max-height: 65px;
    margin-left: 50px; }
  .navbar .collapse {
    margin-right: 100px;
    justify-content: flex-end; }
    .navbar .collapse .navbar-nav {
      font-size: 1.5em;
      font-weight: 200;
      font-family: "Shadows Into Light", cursive;
      letter-spacing: 2px; }
      .navbar .collapse .navbar-nav a {
        color: #66fcf1;
        text-shadow: 0px 4px 2px rgba(96, 96, 96, 0.6);
        transition: all 300ms ease-in-out;
        transform-origin: bottom left; }
        .navbar .collapse .navbar-nav a.active {
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg);
          color: #66fcf1;
          letter-spacing: 3px; }
        .navbar .collapse .navbar-nav a:hover {
          transform: rotateY(20deg) skewX(6deg) skewY(-6deg);
          color: #66fcf1;
          text-shadow: 0px 6px 2px rgba(96, 96, 96, 0.6); }

#greeting-sec {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 1.5px;
  font-weight: 800;
  z-index: 1;
  background: linear-gradient(transparent, transparent, rgba(102, 252, 241, 0.2)); }
  #greeting-sec span {
    height: 100px; }

.parallax-bg {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .parallax-bg .parallax-img {
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: url(images/ahmad1.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #1f2833;
    background-blend-mode: multiply;
    filter: blur(2px); }
  .parallax-bg h3, .parallax-bg h4 {
    color: white;
    z-index: 5;
    font-family: "Shadows Into Light", cursive;
    letter-spacing: 2px;
    font-size: 4em;
    font-weight: 200; }
  .parallax-bg .arrow-wrapper {
    position: absolute;
    bottom: 5px;
    height: 100px;
    width: 90px;
    background: transparent;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%; }
    .parallax-bg .arrow-wrapper .arrow-down {
      height: 100%;
      width: 100%;
      margin: auto;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .parallax-bg .arrow-wrapper .arrow-down i {
        color: white;
        font-size: 5em;
        animation: scroll-down 2s ease-in-out infinite normal; }

@keyframes scroll-down {
  0%, 100% {
    opacity: 0.3;
    transform: translateY(0); }
  50% {
    opacity: 0.9;
    transform: translateY(120%); }
  51% {
    opacity: 0; }
  55% {
    opacity: 0;
    transform: translateY(-110%); } }
.side-tag {
  position: absolute;
  top: 0;
  left: -40px;
  padding: 5px;
  background: #66fcf1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 8px 10px -2px #b6b6b6; }
  .side-tag h2 {
    margin: 0;
    background: #66fcf1;
    padding: 15px 80px;
    vertical-align: middle;
    border: 2px dashed white;
    color: white;
    font-family: "Shadows Into Light", cursive;
    letter-spacing: 2px;
    font-size: 2em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }

.about-container {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about-container .about-sign {
    position: absolute;
    top: 0;
    left: 0; }
    .about-container .about-sign img {
      height: 200px;
      width: 300px;
      transform-origin: left bottom;
      perspective: 1000px;
      transform: rotateY(-89deg);
      transition: all 500ms ease-in-out; }
  .about-container .brief {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% 15% 0; }
    .about-container .brief p {
      font-family: "Shadows Into Light", cursive;
      font-size: 2em;
      letter-spacing: 2px;
      text-indent: 50px; }

.education {
  height: 900px;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .education #edu-intro {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .education #edu-intro p {
      display: none;
      margin-top: 20px;
      width: 80%;
      font-family: "Shadows Into Light", cursive;
      letter-spacing: 2px;
      font-size: 1.7em;
      text-align: center; }
  .education .edu-content {
    margin-top: 75px; }
    .education .edu-content ul {
      position: relative;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(4, 140px);
      grid-gap: 1em;
      font-family: "Shadows Into Light", cursive;
      letter-spacing: 3px; }
      .education .edu-content ul li:nth-child(7) {
        grid-row: 3/5; }
      .education .edu-content ul li:nth-child(8) {
        grid-column: 3/4;
        grid-row: 3/5; }
      .education .edu-content ul li {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background: white;
        margin: 4px;
        box-shadow: 0px 0px 2px 2px #b4b4b4 inset;
        transition: all 500ms ease-in-out;
        left: -100%;
        opacity: 0; }
        .education .edu-content ul li.is-showing {
          opacity: 1;
          left: 0; }
        .education .edu-content ul li h5 {
          margin-top: 20px;
          text-align: center;
          line-height: 1.5em;
          font-weight: 800;
          color: #66fcf1;
          font-size: 1.7em; }
        .education .edu-content ul li p {
          position: relative;
          font-size: 1.1em;
          padding-bottom: 10px; }
          .education .edu-content ul li p::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 1px;
            width: 20%;
            padding: 2px;
            background: #66fcf1;
            opacity: 0;
            transition: all 500ms linear; }
        .education .edu-content ul li:hover p::after {
          animation: slide-underline 1.3s ease-in-out 200ms infinite normal; }
        .education .edu-content ul li::before {
          content: "";
          position: absolute;
          right: -4px;
          bottom: 6px;
          width: 50%;
          height: 50px;
          background: transparent;
          box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.3);
          transform: rotate(4deg);
          z-index: -1;
          border: transparent; }
        .education .edu-content ul li::after {
          content: "";
          position: absolute;
          left: 2px;
          bottom: 6px;
          width: 45%;
          height: 50px;
          background: transparent;
          box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.3);
          transform: rotate(-4deg);
          z-index: -1;
          border: transparent; }

@keyframes slide-underline {
  0%, 19% {
    opacity: 0;
    transform: translateX(0); }
  20%, 80% {
    opacity: 0.5; }
  81%, 100% {
    opacity: 0;
    transform: translateX(400%); } }
.skills {
  position: relative;
  height: 1050px;
  max-height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }
  .skills #skills-intro {
    padding-top: 100px;
    height: 18%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .skills #skills-intro p {
      display: none;
      font-size: 1.5em;
      font-family: "Shadows Into Light", cursive;
      letter-spacing: 2px;
      text-align: center; }
  .skills #big-circle {
    position: absolute;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 400px;
    left: 50%;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%); }
    .skills #big-circle #inner-circle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background: #66fcf1;
      color: white;
      box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
      border: 3px solid #1f2833;
      transform-origin: top;
      opacity: 0; }
      .skills #big-circle #inner-circle h3 {
        font-size: 2.5em;
        letter-spacing: 5px;
        transform: scaleY(2);
        border-bottom: 1px solid #1f2833;
        padding: 1px 10px;
        margin-bottom: 20px;
        transition: all 300ms ease-in-out; }
      .skills #big-circle #inner-circle div {
        padding: 3% 10%; }
      .skills #big-circle #inner-circle.show-cir {
        animation: slide-down 3s ease-in-out 500ms forwards normal; }
  .skills .skills-wrapper {
    box-sizing: border-box;
    padding: 30px;
    list-style: none;
    width: 100%;
    height: 80%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr); }
    .skills .skills-wrapper li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5; }
      .skills .skills-wrapper li .skill-content {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
        font-family: "Shadows Into Light", cursive;
        letter-spacing: 2px;
        font-weight: 800;
        background: #1f2833;
        color: white;
        cursor: pointer;
        transition: all 400ms ease-in-out; }
        .skills .skills-wrapper li .skill-content.bubble-l {
          animation: bubble-l 6s ease-in-out infinite normal; }
        .skills .skills-wrapper li .skill-content.bubble-r {
          animation: bubble-r 8s ease-in-out infinite normal; }
        .skills .skills-wrapper li .skill-content.clicked-skill {
          background: #66fcf1;
          border: 6px solid #1f2833; }
        .skills .skills-wrapper li .skill-content:hover {
          box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.7);
          opacity: 0.97; }
        .skills .skills-wrapper li .skill-content h3 {
          text-align: center;
          transform: rotate(-5deg); }
        .skills .skills-wrapper li .skill-content .medium-h3 {
          font-size: 1.3em; }
        .skills .skills-wrapper li .skill-content .small-h3 {
          font-size: 1em; }
        .skills .skills-wrapper li .skill-content .level, .skills .skills-wrapper li .skill-content .about-skill {
          display: none; }
    .skills .skills-wrapper #html {
      grid-column: 4/7;
      grid-row: 1/5; }
    .skills .skills-wrapper #css {
      grid-column: 10/13;
      grid-row: 1/5; }
    .skills .skills-wrapper #js {
      grid-column: 2/5;
      grid-row: 5/9; }
      .skills .skills-wrapper #js .skill-content {
        width: 85%;
        height: 90%; }
    .skills .skills-wrapper #jquery {
      grid-column: 1/4;
      grid-row: 8/11; }
      .skills .skills-wrapper #jquery .skill-content {
        width: 80%; }
    .skills .skills-wrapper #sass {
      grid-column: 11/14;
      grid-row: 4/7; }
      .skills .skills-wrapper #sass .skill-content {
        width: 85%; }
    .skills .skills-wrapper #responsive {
      grid-column: 2/5;
      grid-row: 13/16; }
      .skills .skills-wrapper #responsive .skill-content {
        width: 90%; }
    .skills .skills-wrapper #bootstrap {
      grid-column: 9/11;
      grid-row: 14/16; }
      .skills .skills-wrapper #bootstrap .skill-content {
        width: 90%; }
    .skills .skills-wrapper #wordpress {
      grid-column: 13/16;
      grid-row: 7/10; }
      .skills .skills-wrapper #wordpress .skill-content {
        height: 80%;
        width: 80%; }
    .skills .skills-wrapper #git {
      grid-column: 8/10;
      grid-row: 2/4; }
      .skills .skills-wrapper #git .skill-content {
        height: 80%;
        width: 80%;
        margin-left: -30%; }
    .skills .skills-wrapper #php {
      grid-column: 12/14;
      grid-row: 10/12; }
      .skills .skills-wrapper #php .skill-content {
        height: 70%;
        width: 70%; }
    .skills .skills-wrapper #photoshop {
      grid-column: 12/14;
      grid-row: 13/15; }
    .skills .skills-wrapper #angular {
      grid-column: 6/7;
      grid-row: 13/14; }
    .skills .skills-wrapper #ux {
      grid-column: 4/6;
      grid-row: 11/13; }
      .skills .skills-wrapper #ux .skill-content {
        width: 75%; }
    .skills .skills-wrapper #seo {
      grid-column: 7/8;
      grid-row: 15/16; }

@keyframes bubble-l {
  0%,100% {
    transform: translate(0) translateY(0) rotate(0); }
  50% {
    transform: translate(-10px) translateY(10px) rotate(10deg) rotateX(30deg); } }
@keyframes bubble-r {
  0%,100% {
    transform: translate(0) translateY(0) rotate(0); }
  50% {
    transform: translate(10px) translateY(-10px) rotate(-10deg) rotateX(-30deg); } }
@keyframes slide-down {
  0% {
    opacity: 0.2;
    transform: scale(0.9) translateY(-50%); }
  20% {
    opacity: 1;
    transform: scaleX(1.04) scaleY(0.97) translateY(8%); }
  50% {
    opacity: 1;
    transform: scale(1) translateY(-10%); }
  70% {
    opacity: 1;
    transform: scaleX(1.03) scaleY(0.98) translateY(4%); }
  90% {
    opacity: 1;
    transform: scale(1) translateY(-3%); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); } }
.cirtificates {
  position: relative;
  margin-top: 100px;
  height: 800px;
  width: 100%; }
  .cirtificates #cirtif-intro {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .cirtificates #cirtif-intro p {
      font-size: 1.5em;
      font-family: "Shadows Into Light", cursive; }
  .cirtificates .cirt-imgs {
    width: 100%;
    margin: auto;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .cirtificates .cirt-imgs figure {
      position: relative;
      width: 30%;
      cursor: pointer;
      box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
      border-radius: 10px; }
      .cirtificates .cirt-imgs figure img {
        width: 100%;
        border-radius: 10px; }
      .cirtificates .cirt-imgs figure figcaption {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Shadows Into Light", cursive;
        color: white;
        font-size: 2em;
        letter-spacing: 2px;
        background: rgba(0, 0, 0, 0.4);
        transform-origin: bottom left;
        transform: scale(0);
        transition: all 500ms ease-in-out;
        opacity: 0;
        border-radius: 10px; }
      .cirtificates .cirt-imgs figure:hover figcaption {
        opacity: 1;
        transform: scale(1); }
  .cirtificates .popup {
    z-index: 999;
    display: none; }
    .cirtificates .popup .overlay {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.66);
      position: fixed;
      top: 0;
      left: 0; }
    .cirtificates .popup .img-show {
      width: 700px;
      height: 500px;
      background: #fff;
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 10px;
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      overflow: hidden; }
      .cirtificates .popup .img-show span {
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        z-index: 99;
        font-size: 1.3em;
        transition: all 200ms ease-in-out; }
        .cirtificates .popup .img-show span:hover {
          transform: scale(1.2);
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
      .cirtificates .popup .img-show img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px; }

/*# sourceMappingURL=styles.css.map */
