body, html {
  margin: 0;
  padding: 0;
  font-family: "Marko One", sans-serif;
  background: #f8eee7; }

* {
  box-sizing: border-box; }

.photo-wrapper {
  position: relative;
  height: 70vh;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  z-index: 0; }
  .photo-wrapper .my-photo {
    width: 100%;
    height: 100%;
    background: #f8eee7;
    background-image: url(about-imgs/ahmad1.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat; }

#about-me {
  position: relative;
  background: #f8eee7;
  padding-bottom: 100px;
  box-shadow: 0 20px 10px -5px rgba(0, 0, 0, 0.5);
  max-width: 1500px;
  margin: auto; }

.biography {
  transform: translateY(-50px);
  background: #f8eee7;
  z-index: 10;
  width: 90%;
  margin: auto;
  padding: 100px;
  padding-bottom: 0;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
  .biography .bio-header {
    transform: translateY(-150px);
    background: #f8eee7;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    color: #49274a;
    text-align: center;
    font-size: 1.3em; }
    .biography .bio-header a {
      text-decoration: none;
      border: 2px solid #49274a;
      color: #49274a;
      padding: 8px;
      border-radius: 5px;
      transition: all 300ms ease-in-out;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }
      .biography .bio-header a i {
        font-size: 1.5em;
        padding-right: 10px; }
      .biography .bio-header a:hover {
        background: #49274a;
        color: #f8eee7; }
  .biography .bio-content {
    transform: translateY(-100px); }
    .biography .bio-content h2 {
      color: #94618e;
      padding-top: 30px;
      font-size: 2em; }
    .biography .bio-content h3 {
      text-align: center;
      padding: 30px;
      font-size: 1.7em;
      color: #49274a;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
      border-radius: 20px; }
    .biography .bio-content .subject {
      padding: 2em 4em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      color: #49274a;
      line-height: 1.5em;
      font-size: 1em; }

#home {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  text-align: center;
  color: #f8eee7;
  background: #49274a;
  border-radius: 10px;
  border: 2px solid #f8eee7;
  font-size: 1.3em;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
  z-index: 1; }
  #home:hover {
    background: #f8eee7;
    color: #49274a;
    border: 2px solid #49274a; }

.footer-img {
  position: relative;
  height: 50vh;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 0; }
  .footer-img .bottom-img {
    width: 100%;
    height: 100%;
    background: #f8eee7;
    background-image: url(about-imgs/ahmad2.jpg);
    background-position: bottom center;
    background-size: contain;
    background-repeat: repeat-x;
    filter: blur(5px); }
  .footer-img .copy-right {
    position: absolute;
    background: #f8eee7;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -4px 6px -1px rgba(73, 39, 74, 0.5);
    color: #49274a;
    font-family: "Marko One", sans-serif;
    font-size: 0.8em;
    opacity: 0.9; }
    .footer-img .copy-right span {
      font-style: italic; }

@media only screen and (max-width: 320px) {
  .photo-wrapper {
    height: 20vh;
    min-height: 150px; }
    .photo-wrapper .my-photo {
      background-image: url(images/about-imgs/ahmad-sm.jpg); }

  #about-me {
    padding-bottom: 40px; }

  .biography {
    transform: translateY(-50px);
    width: 100%;
    padding: 5px; }
    .biography .bio-header {
      transform: translateY(-10px);
      font-size: 0.6em;
      padding: 10px;
      padding-top: 5px; }
      .biography .bio-header a {
        font-size: 0.3em;
        padding: 3px; }
    .biography .bio-content {
      transform: translateY(-20px); }
      .biography .bio-content h2 {
        padding-top: 15px;
        font-size: 0.8em; }
      .biography .bio-content h3 {
        font-size: 0.8em;
        padding: 20px; }
      .biography .bio-content .subject {
        padding: 1em;
        font-size: 0.6em; }

  #home {
    bottom: 10px;
    font-size: 1em;
    padding: 10px; }

  .footer-img {
    height: 40vh;
    max-height: 300px; }
    .footer-img .bottom-img {
      background-size: cover;
      filter: blur(1px); }
    .footer-img .copy-right {
      font-size: 0.4em;
      display: block;
      padding: 0; } }
@media only screen and (min-width: 320px) and (max-width: 560px) {
  .photo-wrapper {
    height: 25vh;
    min-height: 200px; }
    .photo-wrapper .my-photo {
      background-image: url(images/about-imgs/ahmad-sm.jpg); }

  #about-me {
    padding-bottom: 50px; }

  .biography {
    transform: translateY(-10px);
    width: 100%;
    padding: 20px; }
    .biography .bio-header {
      transform: translateY(-30px);
      font-size: 0.6em;
      padding: 20px;
      padding-top: 10px; }
    .biography .bio-content {
      transform: translateY(-40px); }
      .biography .bio-content h2 {
        padding-top: 15px;
        font-size: 1.1em; }
      .biography .bio-content h3 {
        font-size: 1.1em;
        padding: 20px; }
      .biography .bio-content .subject {
        padding: 1em;
        font-size: 0.7em; }

  #home {
    bottom: -10px;
    font-size: 1em;
    padding: 10px; }

  .footer-img {
    height: 40vh;
    max-height: 400px; }
    .footer-img .bottom-img {
      background-size: cover;
      filter: blur(2px); }
    .footer-img .copy-right {
      font-size: 0.4em; } }
@media only screen and (min-width: 560px) and (max-width: 740px) {
  .photo-wrapper {
    height: 35vh;
    min-height: 250px; }
    .photo-wrapper .my-photo {
      background-image: url(images/about-imgs/ahmad-sm.jpg); }

  #about-me {
    padding-bottom: 60px; }

  .biography {
    transform: translateY(-10px);
    width: 100%;
    padding: 30px; }
    .biography .bio-header {
      transform: translateY(-40px);
      font-size: 0.9em;
      padding: 30px;
      padding-top: 10px; }
    .biography .bio-content {
      transform: translateY(-60px); }
      .biography .bio-content h2 {
        padding-top: 20px;
        font-size: 1.4em; }
      .biography .bio-content h3 {
        font-size: 1.3em;
        padding: 30px; }
      .biography .bio-content .subject {
        padding: 2em;
        font-size: 0.8em; }

  #home {
    bottom: -20px;
    font-size: 1.3em;
    padding: 20px; }

  .footer-img {
    height: 40vh;
    max-height: 500px; }
    .footer-img .bottom-img {
      background-size: cover;
      filter: blur(3px); }
    .footer-img .copy-right {
      font-size: 0.5em; } }
@media only screen and (min-width: 740px) and (max-width: 920px) {
  .photo-wrapper {
    height: 40vh;
    min-height: 330px; }
    .photo-wrapper .my-photo {
      background-image: url(images/about-imgs/ahmad-sm.jpg); }

  #about-me {
    padding-bottom: 70px; }

  .biography {
    transform: translateY(-30px);
    width: 100%;
    padding: 60px; }
    .biography .bio-header {
      transform: translateY(-110px);
      font-size: 1em;
      padding: 30px;
      padding-top: 10px; }
    .biography .bio-content {
      transform: translateY(-90px); }
      .biography .bio-content h2 {
        padding-top: 20px;
        font-size: 1.7em; }
      .biography .bio-content h3 {
        font-size: 1.5em;
        padding: 30px; }
      .biography .bio-content .subject {
        padding: 2em;
        font-size: 0.9em; }

  #home {
    bottom: -20px;
    font-size: 1.3em;
    padding: 20px; }

  .footer-img {
    height: 40vh;
    max-height: 500px; }
    .footer-img .bottom-img {
      background-size: cover;
      filter: blur(3px); }
    .footer-img .copy-right {
      font-size: 0.5em; } }
@media only screen and (min-width: 920px) and (max-width: 1290px) {
  .photo-wrapper {
    height: 50vh;
    min-height: 450px; }

  #about-me {
    padding-bottom: 70px; }

  .biography {
    width: 95%;
    padding: 50px; }
    .biography .bio-header {
      transform: translateY(-105px);
      font-size: 1.1em;
      padding: 30px;
      padding-top: 10px; }
    .biography .bio-content h2 {
      padding-top: 30px;
      font-size: 1.9em; }
    .biography .bio-content h3 {
      font-size: 1.4em;
      padding: 30px; }
    .biography .bio-content .subject {
      padding: 2em 3em;
      font-size: 1em; }

  #home {
    bottom: -20px;
    font-size: 1.4em;
    padding: 20px; }

  .footer-img {
    height: 40vh;
    max-height: 500px; }
    .footer-img .bottom-img {
      background-size: contain;
      filter: blur(3px); }
    .footer-img .copy-right {
      font-size: 0.6em; } }

/*# sourceMappingURL=ahmad.css.map */
